{% extends "base-search.html" %}

{% load i18n %}
{% load staticfiles %}
{% load portal_extras %}

{% block title %}{% trans 'City Resources' %} - {% trans "Chicago Early Learning" %}{% endblock %}

{% block otherhead %}
  {% if LANGUAGE_CODE == 'es' %}
  <style type="text/css">
    .subhead-sp {
      display: inline;
    }
  </style>
  {% endif %}
{% endblock %}

{% block content %}
<div class="resources-container">
    <div class="static-header" id="resources-header" style="background-image: url({% static 'img/static-pages/resources-header.jpeg' %})">
        <h1 id="resources-title">{% trans 'City Resources' %}</h1>
    </div>
    <div class="resources-content">

        <p>{% blocktrans %}The City of Chicago and Mayor Rahm Emanuel are committed to bringing access to high quality early learning opportunities to families throughout the city. In addition to great programs for children at schools and community agencies, there are a number of opportunities to start stimulating your child with early learning in other environments.{% endblocktrans %}</p>

        <hr>

        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Connect4Tots</h3>
            <p>{% blocktrans %}Connect4Tots provides text messages on FREE resources for parents and guardians of toddlers ages 1 to 3. Connect4Tots parents and guardians receive 2-3 text messages weekly with information about child’s growth and development, connections to health & safety, education, public service, event resources in the City of Chicago, and more!{% endblocktrans %}</p>

            <h4>{% trans 'Sign Up Today!' %}</h4>
            
            <p><b>{% blocktrans %}Text <span class="tot">TOT</span><span class="opt7">OPT7</span> to 311311 or use <a href="http://chitot.org/enroll">this online form.</a>{% endblocktrans %}</b></p>
            
            <p>{% blocktrans %}When you enroll, you will be asked to provide your child’s date of birth and sex, your city address, and your preferred language (English, Spanish, or Polish) to receive texts. Once enrolled, you will automatically receive 2-3 messages per week with helpful guidance and tips.{% endblocktrans %}</p>
            
            <p>{% trans 'Standard text messaging rates may apply.' %}</p>

            <h4>{% trans 'Tell your Chicago Friends!' %}</h4>

            <p>{% blocktrans %}Are you already a Connect4Tots parent? Let your other Chicago friends who are parents of toddlers know so they can get important text messages on FREE resources for those who qualify.{% endblocktrans %}</p>
            
            <h4>{% trans 'Additional Information' %}</h4>
            
            <p>{% blocktrans %}Connect4Tots is sponsored by the City of Chicago and the University of Chicago Urban Labs. Urban Labs will evaluate the effects of the program by analyzing participants’ use of the information and resources included in the text messages. Please review <a href="http://chitot.org/consent">our consent</a> for more information. For more information on the program, please contact Urban Labs at <a href="mailto:Connect4TotsFeedback@cityofchicago.org">Connect4TotsFeedback@cityofchicago.org</a>.{% endblocktrans %}</p>

          </div>
          <a class="media-image">
            <img src="{% static 'img/logos/connect4tots.png' %}" alt="Connect4">
          </a>
        </div>

        <hr>

        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Chicago Park District</h3>
            <h4 class="subhead-sp">{% trans "Chicago Park District" %}</h4>
            <p>{% blocktrans %}Many parks offer early childhood recreation classes— moms, pops, and tots interaction, play group, preschool, puppetry, storytelling, and Moms, Dads, & Tots Gymnastics. Early childhood participants develop and enhance their motor, listening and social skills through movement education programming. <a href="http://www.chicagoparkdistrict.com/">Visit the Chicago Park District</a> to find and sign up for a class near you.{% endblocktrans %}</p>
          </div>
          <a class="media-image" href="http://www.chicagoparkdistrict.com/">
            <img src="{% static 'img/logos/park-district.png' %}" alt="Chicago Park District">
          </a>
        </div>
        <hr>

        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Chicago City of Learning</h3>
            <h4 class="subhead-sp">{% trans "Chicago City of Learning" %}</h3>
            <p>{% blocktrans %}Chicago City of Learning (CCOL) is a groundbreaking initiative that joins together learning opportunities for young people in a way that allows them to think about, pursue, and develop their interests. CCOL partners to bring early childhood experiences to spaces during the summer to prepare children to enter kindergarten in the Fall. <a href="https://chicagocityoflearning.org/">Visit CCOL</a> to find opportunities near you.{% endblocktrans %}</p>
          </div>
          <a class="media-image" href="https://chicagocityoflearning.org/">
            <img src="{% static 'img/logos/city-of-learning.png' %}" alt="Chicago City of Learning">
          </a>
        </div>
        <hr>

        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Chicago Public Library</h3>
            <h4 class="subhead-sp">{% trans "Chicago Public Library" %}</h4>
            <p>{% blocktrans %}The Chicago Public Library (CPL) has many enriching opportunities for children including early learning spaces at libraries and preschool reading hours. CPL also features mobile units that bring hands-on STEAM (science, technology, engineering, arts and math) learning activities for young children along with family literacy programming facilitated by librarians throughout the city. The CPL has three mobile units with these STEAM-based learning kits deployed throughout the city – one for each Library District. <a href="http://www.chipublib.org/">Contact CPL</a> for details.{% endblocktrans %}</p>
          </div>
          <a class="media-image" href="http://www.chipublib.org/">
            <img src="{% static 'img/logos/cpl.png' %}" alt="Chicago Public Library">
          </a>
        </div>
        <hr>


        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Chicago Children's Museum</h3>
            <h4 class="subhead-sp">{% trans "Chicago Children's Museum" %}</h4>
            <p>{% blocktrans %}The Chicago Children’s Museum features a number of early learning spaces for children to support the development of communities where play and learning connect. One permanent exhibit, The Tinkering Lab, features an early learning nook of safe interactive objects and touchable tools. The Children’s Museum also partners to bring early learning and engagement spaces to other places in the city. <a href="http://www.chicagochildrensmuseum.org/">Contact the Chicago Children’s Museum</a> for details.{% endblocktrans %}</p>
          </div>
          <a class="media-image" href="http://www.chicagochildrensmuseum.org/">
            <img src="{% static 'img/logos/childrens-museum.jpg' %}" alt="Chicago Children's Museum">
          </a>
        </div>
        <hr>

        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Chicago Department of Public Health</h3>
            <h4 class="subhead-sp">{% trans "Chicago Department of Public Health" %}</h4>
            <p>{% blocktrans %}The foundation for early learning and a child’s success starts with maternal and infant health. The Chicago Department of Public Health (CDPH)’s neighborhood health clinics offer care support for expectant mothers and wellness services for children. CDPH also has a resource finder for many needs for families expecting or with young children, including health care and other supports like clothes, car seats and more. <a href="http://www.healthychicagobabies.org/">Contact the Chicago Department of Public Health</a> for details.{% endblocktrans %}</p>
          </div>
          <a class="media-image" href="http://www.cityofchicago.org/city/en/depts/cdph.html">
            <img src="{% static 'img/logos/healthy-chicago.png' %}" alt="Chicago Department of Public Health">
          </a>
        </div>

        

    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}