<tr>   
  {{# if copa.value }}
  <td class="cell-full text-center" rowspan="2">
    <h2 class="orange text-center">{{ index }}</h2>
  </td>
  {{else}}
  <td class="cell-half">
    <h2 class="blue text-center">{{ index }}</h2>
  </td>
  {{/if}}
  <td rowspan="2">
      <h1><a class="a-orange" href="{{location-page}}">{{site_name}}</a></h1>
      <p>{{address}}</p>
      <p>{{city}}, {{state}} {{zip}}</p> 
      {{#if prg_hours.value }}
      <p>{{ prg_hours.value }}</p>
      {{/if}}
      {{#if phone }}
      <p><a class="a-blue" href="tel:{{phone}}">{{phone}}</a></p>
      {{/if}}
      {{#if url}}
      <p><a class="a-blue" href="{{url}}" target="_blank">Website &#x2197;</a></p>
      {{/if}}
  </td>
  <td class="cell-ages" rowspan="2">
      <p>{{#if ages_0_to_3.value }}<i class="icon-ok"></i>{{else}}<i class="icon-cancel"></i>{{/if}} 0 to 3</p>
      <p>{{#if ages_3_to_5.value }}<i class="icon-ok"></i>{{else}}<i class="icon-cancel"></i>{{/if}} 3 to 5</p>
  </td>
  <td rowspan="2">
    {{#if availability.value }}
    {{ availability.value }}
    {{else}}
      <p class="na">N/A</p>
    {{/if}}
  </td>
  <td rowspan="2">
    {{#if part_day.value }}
    <p>{{ part_day.display }}</p>
    {{/if}}
    {{#if full_day.value }}
    <p>{{ full_day.display }}</p>
    {{/if}}
    {{#if school_year.value }}
    <p>{{ school_year.display }}</p>
    {{/if}}
    {{#if full_year.value }}
    <p>{{ full_year.display }}</p>
    {{/if}}
  </td>
  <td rowspan="2">
    {{#if cps_based.value }}
    <p>{{ cps_based.display }}</p>
    {{/if}}
    {{#if community_based.value }}
    <p>{{ community_based.display }}</p>
    {{/if}}
    {{#if head_start.value }}
    <p>{{ head_start.display }}</p>
    {{/if}}
    {{#if early_head_start.value }}
    <p>{{ early_head_start.display }}</p>
    {{/if}}
    {{#if home_visiting.value }}
    <p>{{ home_visiting.display }}</p>
    {{/if}}
    {{#if languages.value }}
    <p>{{ languages.value }}</p>
    {{/if}}
    {{#if ccap.value }}
    <p>{{ ccap.display }}</p>
    {{/if}}
  </td>
  <td rowspan="2">
    {{#if accreditation.value }}
    <p>{{ accreditation.value }}</p>
    {{/if}}
    {{#if quality_rating.value }}
    <p>QRIS {{ quality_rating.value }}</p>
    {{/if}}
  </td>
</tr>

{{#if copa.value}}
<!--
We need this here so the rowspan="2" rows will properly render
-->
<tr></tr>
{{else}}
<tr>
  <td class="cell-half text-center">
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input apply-checkbox" data-id="{{id}}" data-key="{{copa.key}}" name="{{id}}">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"><i>select</i></span>
    </label>
  </td>
</tr>
{{/if}}