<div class="favorite" data-key="{{item.key}}" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div id="location-map" class="none single-location-map"></div>
  <a href="javascript:void(0)" class="none favs-close-button">&times;</a>
  <h1 class="school-name" itemprop="name">{{item.site_name}}</h1>
  <p itemprop="address">{{item.address}}, {{item.city}}, {{item.state}} {{item.zip}}</p>
  <ul class="website-phone">
    {{#if item.url}}
    <li><i class="icon-globe"></i> <a href="{{item.url}}" target="_blank" itemprop="url">{{item.url}}</a></li>
    {{/if}}
    <a href="javascript:void(0)"
        class="none favs-toggle single-star pull-right" id="favs-toggle-loc-{{item.key}}"
        data-loc-id="{{item.key}}">
      <i class="icon-heart-empty"></i>
    </a>
    <a href="#" class="none btn pull-right single-share"
        data-r1024="<i class='icon-share'></i>{{translations.share}}">
      <i class="icon-share"></i>
      Share
    </a>
  </ul>
  <hr>
  <div class="school-details">
    <h1>{{phone.fieldname}}</h1>
    <h2><a href="tel:{{phone.number}}" itemprop="telephone">{{phone.number}}</a></h2>
    <hr>
    {{#each sfields}}
      <h1>{{fieldname}}</h1>
      {{breaklines value}}
      <hr>
    {{/each}}
    {{#if bfields.values }}
      <h1>{{bfields.fieldname}}</h1>
      <div>{{breaklines bfields.values}}</div>
    {{/if}}
  </div>
</div>
