<div class="favorite fullwidth" style="width:100%;" data-key="{{item.key}}">
  <div id="location-map" class="single-location-map"></div>
  <a href="javascript:void(0)" class="none favs-close-button">&times;</a>
  <h1 class="school-name">{{item.site_name}}</h1>
  <p>{{item.address}}, {{item.city}}, {{item.state}} {{item.zip}}</p>
  {{#if item.url}}
  <ul class="website-phone">
    <li><i class="icon-globe"></i> <a href="{{item.url}}" target="_blank">{{item.url}}</a></li>
    <a class="btn pull-right single-share" href="#" data-r1024="<i class='icon-share'></i>{{translations.share}}"><i class="icon-share"></i></a>
  </ul>
  {{/if}}
  <hr>
  <div class="school-details">
    <h1>{{phone.fieldname}}</h1>
    <h2><a href="tel:{{phone.number}}">{{phone.number}}</a></h2>
    <hr>
    {{#each sfields}}
      <h1>{{fieldname}}</h1>
      <h2>{{value}}</h2>
      <hr>
    {{/each}}
      <h1>{{bfields.fieldname}}</h1>
      <h2>{{bfields.values}}</h2>
  </div>
</div>
