<div class="favorite" data-key="{{id}}" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div id="location-map" class="none single-location-map"></div>
  <a href="javascript:void(0)" class="none favs-close-button">&times;</a>
  <div class="clearfix">
    <div class="location-body">
      <h1 class="school-name" itemprop="name"><a href="">{{site_name}}</a></h1>
      <p class="address-line" itemprop="address">{{address}}</p>
      <p class="address-line" itemprop="address">{{city}}, {{state}} {{zip}}</p>
      <ul class="website-phone">
        {{#if phone }}
        <li><a href="tel:{{phone}}" itemprop="telephone">{{phone}}</a></li>
        {{/if}}
        {{#if url}}
        <li><a href="{{url}}" target="_blank" itemprop="url">{{url}}</a></li>
        {{/if}}
        <a href="javascript:void(0)"
            class="none favs-toggle single-star pull-right" id="favs-toggle-loc-{{id}}"
            data-loc-id="{{id}}">
          <i class="icon-heart-empty"></i>
        </a>
      </ul>
    </div>
    <div class="school-details">

      <!-- Description -->
      {{#if description.value }}
        <h3>{{ description.display }}</h3>
        {{{ description.value }}}
        <hr>
      {{/if}}


      <!-- Ages Served -->
      {{#if not_enrollment_site }}
        <h3>{{ ages_served }}</h3>
        <p>{{#if ages_0_to_3.value }}<i class="icon-ok"></i>{{else}}<i class="icon-cancel"></i>{{/if}} {{ ages_0_to_3.display }}</p>
        <p>{{#if ages_3_to_5.value }}<i class="icon-ok"></i>{{else}}<i class="icon-cancel"></i>{{/if}} {{ ages_3_to_5.display }}</p>
        <hr>
      {{/if}}

      {{#if availability.value }}
        <h3>{{ availability.display }}</h3>
        <p>{{ availability.value }}</p>
        <p><em>{{ availability.note }}</em></p>
        <hr>
      {{/if}}

      <!-- Duration and Hours -->
      {{#if not_enrollment_site }}
        <h3>{{ duration_and_hours }}</h3>
          {{#if prg_hours.value }}
            <p>{{ prg_hours.value }}</p>
          {{else}}
            <p>{{ prg_hours.display }}</p>
          {{/if}}
          {{#if part_day.value }}
            <p>{{ part_day.display }}</p>
          {{/if}}
          {{#if full_day.value }}
            <p>{{ full_day.display }}</p>
          {{/if}}
          {{#if school_year.value }}
            <p>{{ school_year.display }}</p>
          {{/if}}
          {{#if full_year.value }}
            <p>{{ full_year.display }}</p>
          {{/if}}
        <hr>
      {{/if}}


      <!-- Program Information -->
      {{#if not_enrollment_site}}
        <h3>{{ program_information }}</h3>
        {{#if cps_based.value }}
          <p>{{ cps_based.display }}</p>
        {{/if}}
        {{#if community_based.value }}
          <p>{{ community_based.display }}</p>
        {{/if}}
        {{#if head_start.value }}
          <p>{{ head_start.display }}</p>
        {{/if}}
        {{#if early_head_start.value }}
          <p>{{ early_head_start.display }}</p>
        {{/if}}
        {{#if home_visiting.value }}
          <p>{{ home_visiting.display }}</p>
        {{/if}}
        <hr>
      {{/if}}


      <!-- Languages -->
      {{#if languages.value }}
        <h3>{{ languages.display }}</h3>
        <p>{{ languages.value }}</p>
        <hr>
      {{/if}}


      <!-- Other Features -->
      {{#if other_features.value }}
        <h3>{{ other_features.display }}</h3>
        <p>{{ other_features.value }}</p>
        <hr>
      {{/if}}


      <!-- Accreditation -->
      {{#if not_enrollment_site}}
        {{#if accreditation.value }}
          <h3>{{ accreditation.display }}</h3>
          <p>{{ accreditation.value }}</p>
          <hr>
        {{/if}}
      {{/if}}


      <!-- Quality Rating -->
      {{#if not_enrollment_site}}
        {{#if quality_rating.value }}
          <h3>{{ quality_rating.display }}</h3>
          <p>{{ quality_rating.value }}</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>