{{#each this}}
<div class="accordion location-container" data-key="{{item.key}}">
  <div class="accordion-group" data-key="{{item.key}}">
    <div class="accordion-heading location">

      <!-- Location Info --> 
      <div class="location-info">

        <h1 id="site-name">{{item.site_name}}<a href="#" id="quality-icon" class="hideonmobile hint--right" data-hint="{{ translations.qrisrating }}: {{tooltip.quality }}"><img data-img="quality-{{ item.quality }}" class="quality-icon" src='{{static "img/icons/quality-none.png"}}' /></a></h1>
        <div>
          <h2 id="location-address">{{item.address}}, {{item.zip}}</h2>
          {{#each sfields}}
          {{#if_eq this.key 'weekday_availability'}}{{#if_not_eq this.value 'None'}}<h2 id="weekday-availability">{{this.value}}</h2>{{/if_not_eq}}{{/if_eq}}
          {{#if_eq this.key 'program_info'}}{{#if_not_eq this.value 'None'}}<h2 id="program-info">{{this.value}}</h2>{{/if_not_eq}}{{/if_eq}}
          {{/each}}
          <a href="#" id="loc-icon" class="hideonmobile directions-icon hint--right" data-hint="{{tooltip.accreditation}}">
            <img id="loc-icon-{{item.key}}" class="location-icons" src='{{static "img/leaflet-icons/center.png"}}' />
          </a>
        </div>
      </div>


      <!-- Location Actions --> 
      <div class="location-buttons">

        <form action="/location/{{item.key}}/">
          <button class="btn location-list-button" type="submit"><i class="icon-info-circled"></i> More Info</button>
        </form>
        <form action="https://maps.google.com/maps?saddr=current+location&daddr={{item.address}}+{{item.city}}+{{item.city}}+{{item.state}}+{{item.zip}}"
            id="loc-dirs">
          <button class="btn location-list-button" type="submit"><i class="icon-road-1"></i> {{translations.directions}}</button>
        </form>
        <button id="favs-toggle-loc-{{item.key}}" data-loc-id="{{item.key}}" class="btn location-list-button favs-toggle"><i class="icon-mail-1"></i> {{translations.contact}}</button>
        <!--
        <a href="/location/{{item.key}}/" class="btn location-list-button"><i class="icon-exclamation-sign"></i> More Info</a>
        <a href="https://maps.google.com/maps?saddr=current+location&daddr={{item.address}}+{{item.city}}+{{item.city}}+{{item.state}}+{{item.zip}}"
            id="loc-dirs" class="btn location-list-button hideonmobile hint--right ga-track" data-hint="{{tooltip.directions}}"
            data-ga-category="search" data-ga-action="Get Directions" target="_blank"><i class="icon-road-1"></i> {{translations.directions}}
        </a>
        <span class="mobile-chevron"><i class="icon-chevron-right"></i></span>
        <a href="#" id="favs-toggle-loc-{{item.key}}" class="btn location-list-button favs-toggle hint--right ga-track"
            data-hint="{{tooltip.star}}" data-loc-id="{{item.key}}"
            data-ga-category="search" data-ga-action="Favorite Location">
          <i class="icon-mail-1"></i>{{translations.contact}}</a>

        --> 

      </div>

    </div>
  </div>
</div>
{{/each}}
