{{#each this}}
<div class="accordion location-container" data-key="{{item.key}}">
  <div class="accordion-group" data-key="{{item.key}}">
    <div class="accordion-heading location">
      <a href="#" id="favs-toggle-loc-{{item.key}}" class="favs-toggle hint--right ga-track"
          data-hint="{{tooltip.star}}" data-loc-id="{{item.key}}"
          data-ga-category="search" data-ga-action="Star Location">
        <i class="icon-star-empty"></i>
      </a>
      <a href="#collapseLoc{{@index}}"data-toggle="collapse" data-parent="#location{{@index}}" >
        <h1 class="truncate">{{item.site_name}}</h1>
        <h2 class="truncate">{{item.address}}, {{item.city}}, {{item.state}} {{item.zip}}</h2>
      </a>
      <a href="#" id="quality-icon" class="hideonmobile directions-icon hint--right"
          data-hint="{{ translations.qrisrating }}: {{ tooltip.quality }}">
          <img data-img="quality-{{ item.quality }}" class="quality-icon" src='{{static "img/icons/quality-none.png"}}' />
      </a>
      <a href="#" id="loc-icon" class="hideonmobile directions-icon hint--right"
          data-hint="{{tooltip.accreditation}}">
        <img id="loc-icon-{{item.key}}" class="location-icons"
            src='{{static "img/leaflet-icons/center.png"}}' />
      </a> 
      <a href="https://maps.google.com/maps?saddr=current+location&daddr={{item.address}}+{{item.city}}+{{item.city}}+{{item.state}}+{{item.zip}}"
          id="loc-dirs" class="hideonmobile directions-icon hint--left ga-track" data-hint="{{tooltip.directions}}"
          data-ga-category="search" data-ga-action="Get Directions" target="_blank">
        {{translations.directions}}
      </a>
      <button href="#collapseLoc{{@index}}"
          id="moreBtn" class="btn btn-inverse more-less-btn hint--left ga-track"
          data-hint="{{tooltip.moreinfo}}" data-toggle="collapse" data-parent="#location{{@index}}"
          data-ga-category="search" data-ga-action="More Button">
        {{translations.more}}
      </button>
      <span class="mobile-chevron"><i class="icon-chevron-right"></i></span>
    </div>
  </div>
  <div id="collapseLoc{{@index}}" class="accordion-body collapse">
    <div class="accordion-inner">
      <div class="accordion-right">
          <a {{#if item.url}}href="{{item.url}}" {{/if}}class="ga-track btn input-block-level{{#unless item.url}} text-grey{{/unless}}" 
              data-ga-category="search" data-ga-action="Location Website" target="_blank">
          <i class="icon-globe"></i>
          {{translations.website}}
        </a>
        <button class="btn input-block-level share-btn ga-track" data-key="{{item.key}}"
            data-ga-category="search" data-ga-action="Share Location">
          <i class="icon-share"></i>
          {{translations.share}}
        </button>
      </div>
      <div class="accordion-left">
        <h1>{{phone.fieldname}}</h1>
        <h2><a href="tel:{{phone.number}}">{{phone.number}}</a></h2>
        {{#each sfields}}
        <hr>
        <h1>{{fieldname}}</h1>
        {{breaklines value}}
        {{/each}}
        {{#if bfields.values }}
        <hr>
        <h1>{{bfields.fieldname}}</h1>
        <div>{{breaklines bfields.values}}</div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}
