{{#each this}}
<div class="accordion" id="location{{@index}}" style="margin-top: 0;">
  <div class="accordion-group neighborhood" data-name="{{name}}" data-schools="{{schools}}" data-lat="{{center.lat}}" data-lng="{{center.lng}}" data-id="{{id}}">
    <div class="accordion-heading location">
      <div class="row">
        <div class="span6">
          <h1>{{name}}</h1>
        </div>
        <div class="span2 hideonmobile">
          {{schools}}
        </div>
        <div class="span2 pull-right">
          <button class="btn btn-inverse pull-right explore-btn hint--left" data-hint="{{tooltip.explore}}" data-lat="{{center.lat}}" data-lng="{{center.lng}}" data-id="{{id}}">{{explore}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
