{% load i18n staticfiles static svg compress %}

<!-- Top Navbar - CEL Hotline, Toggle Language, and Continue to Application --> 
<div>
  <nav class="navbar navbar-top d-flex flex-row">
    <div class="mr-auto">
      <div id="phone-svg" class="inline-link-svg svg-blue">{% svg 'icons/phone' %}</div><span class="hidden-md-down">{% trans 'Call the Chicago Early Learning Hotline at' %}</span><a class="a-blue" href="tel:3122291690"> (312) 229-1690</a>
    </div>
    <div class="">
    {% if LANGUAGE_CODE == 'en' %}
      <a class="a-black-orange" href="{% url 'setlang' language=LANGUAGES.1.0 %}" data-lang="{{ LANGUAGES.1.0 }}">Español</a></li>

    {% elif LANGUAGE_CODE == 'es' %}
      <a class="a-black-orange" href="{% url 'setlang' language=LANGUAGES.0.0 %}" data-lang="{{ LANGUAGES.0.0 }}">English</a>

    {% endif %}

        |  <a class="a-black-orange" href="#"><span class="hidden-md-up">{% trans 'Application' %}</span><span class="hidden-sm-down">{% trans 'Continue to Application Login' %}</span> <div id="arrow-svg" class="inline-link-svg svg-orange">{% svg 'icons/arrow-thin-right' %}</div></a>
    </div>
  </nav>
</div>

<!-- Bottom Navbar - Site Navigation --> 
<div>
  <nav class="navbar navbar-toggleable-md navbar-bottom navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="inline-link-svg svg-orange">{% svg 'icons/menu' %}</div>
      </button>
      <a href="{% url 'index' %}" class="navbar-brand"">
          <img src='{% static "img/logos/logo-left.png" %}' class="logo-small" alt='CEL'>
          <img src='{% static "img/logos/logo-right.png" %}' class="logo-text" alt='CEL'>
      </a>
      <div class="nav-content collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-pills ml-auto">
            <li class="nav-item">
                  <a class="nav-link a-black-orange" href="{% url 'programs' %}">{% trans 'Early Learning Programs' %}</a>
             </li>
             <li class="nav-item">
                  <a class="nav-link a-black-orange" href="{% url 'how-to-apply' %}">{% trans 'How to Apply' %}</a>
             </li>
             <li class="nav-item">
                  <a class="nav-link a-black-orange" href="{% url 'browse' %}">{% trans 'Find Sites' %}</a>
             </li> 
             <li class="nav-item">
                  <a class="nav-link a-black-orange" href="{% url 'resources' %}">{% trans 'Resources' %}</a>
             </li> 
             <li class="nav-item">
                  <a class="nav-link a-black-orange" href="{% url 'faq' %}">{% trans 'FAQ' %}</a>
             </li>
             <li class="apply-button hidden-md-down">
                 <a href="https://cys.mycopa.com/familyPortal/welcome.epl" class="btn btn-cel btn-orange" role="button">{% trans 'Apply' %}</a>
             </li>
          </ul>
      </div>
  </nav>

</div>