{% extends "base.html" %}

{% block title %}Chicago Early Learning - About{% endblock %}

{% block otherhead %}
<!-- custom head tags go here -->
{% endblock %}

{% block content %}

<div class="container" id="about-container">
    <h1>About the Chicago Early Learning Portal</h1>

    <p>The Chicago Early Learning Portal is a collaboration between the City of Chicago, the Chicago Public Schools, the Chicago Department of Family and Support Services, the Smart Chicago Collaborative, and the University of Chicago Urban Education Lab.</p>

    <p>Mayor Rahm Emanuel has made investment in early childhood education a cornerstone of his administration, with the goal of serving at-risk children and increasing the transparency and accountability of city programs.</p>

    <p>Announcing this initiative in September 2011, the Mayor remarked: “We must provide children in every neighborhood with the tools they need to excel in school and succeed in the workforce, and that includes providing excellent early childhood education . . . these reforms will help parents find opportunities for their children and better prepare our students for the rigors of elementary, middle and high school classrooms.”</p>

    <p>For technical assistance or for more information about the Early Learning Portal, please contact info@chicagoearlylearning.org.</p>

    <p>For general questions about early learning options in Chicago, including information about enrollment, eligibility, and payment, please refer to our FAQ page.</p>


    <div>
    <b>City of Chicago</b>
    <p>[link to: http://www.cityofchicago.org/city/en.html]</p>
    </div>
 
    <div>
    <b>Chicago Public Schools</b>
    <p>Chicago Public Schools works to ensure that every student in every community has access to a high quality education that prepares them for success in college and career. [link to: http://cps.edu/Pages/home.aspx]</p>
    </div>

    <div>
    <b>Chicago Department of Family and Support Services</b>
    <p>The Chicago Department of Family &amp; Support Services (DFSS) is dedicated to supporting a continuum of coordinated services to enhance the lives of Chicago residents, particularly those most in need, from birth through the senior years.  [link to: http://www.cityofchicago.org/city/en/depts/fss.html]</p>
    </div>
 
    <div>
    <b>Smart Chicago Collaborative</b>
    <p>The Smart Chicago Collaborative is a civic organization devoted to using technology to make lives better in Chicago. We work to apply the transformative power of technology to solve problems for the people of Chicago. [link to: http://www.smartchicagocollaborative.org/]</p>
    </div>
 
    <div>
    <b>University of Chicago Urban Education Lab</b>
    <p>The University of Chicago Urban Education Lab, a project of the Urban Education Institute, seeks to improve education outcomes by providing scientific evidence about what strategies are the most effective and cost effective, for whom, and why. [link to: http://uel.uchicago.edu/]</p>
    </div>
 </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() { 
    $('#about-link').addClass('active');
});
</script>

{% endblock %}
