{% extends "base.html" %}
{% block searchform %}
{% load i18n %}
{% load staticfiles %}
{% load static %}

<a class="brand" id="searchbar-logo-small" href="{% url 'index' %}">
    <img src='{% static "img/logos/logo-sm.png" %}' class="logo-small" alt='CEL'>
</a>

{% if LANGUAGE_CODE == 'en' %}
<a class="brand" id="searchbar-logo-large" href="{% url 'index' %}">
    <img src='{% static "img/logos/logo-sm.png" %}' class="logo-small" alt='CEL'>
    <img src='{% static "img/logos/logo-en.png" %}' class="logo-text" alt='CEL'>
</a>

{% elif LANGUAGE_CODE == 'es' %}
<a class="brand" id="searchbar-logo-large" href="{% url 'index' %}">
    <img src='{% static "img/logos/logo-sm.png" %}' class="logo-small" alt='CEL'>
    <img src='{% static "img/logos/logo-es.png" %}' class="logo-text" alt='CEL'>
</a>

{% endif %}

<form class="navbar-form" id="desktop-search">
  <div class="input-append">
    <input id="appendedInputButton" class="autocomplete-searchbox" type="text"
    placeholder="{% blocktrans %}Enter an address{% endblocktrans %}">
    <button id="geolocation" class="btn btn-standard2 geolocation-button hint--bottom ga-track"
        type="button" data-hint="{% trans 'Click to use your current location' %}" data-ga-category="navbar" data-ga-action="Geolocation">
      <i class="icon-target"></i>
    </button>
  </div>
  <button type="submit" id="searchBtn" class="btn btn-navsearch-main autocomplete-submit" style="margin-top: -5px;" >
    <i class="icon-search"></i>
    {% trans 'Search' %}
  </button>
</form>
{% endblock %}
