<!DOCTYPE html>{% load i18n staticfiles static compress %}
<html>
  <head>
    <title>{% block title %}{% trans "Chicago Early Learning" %} - {% trans "Find early learning programs near your home or work." %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="google-site-verification" content="c_0AMwlpIq4b4OQfRjbMWhsfk2Mv8DStFiNf3HkXLCA" />
    <link rel="shortcut icon" href='{% static "img/favicon.ico" %}'>
    <link rel="stylesheet" href="https://use.fontawesome.com/e3d88004fc.css">
    <link href='{% static "css/lib/hint.min.css" %}' rel="stylesheet">
    <link href='{% static "css/lib/leaflet.css" %}' rel="stylesheet">
    <link href='{% static "css/lib/bootstrap.css" %}' rel="stylesheet">
    <link href='{% static "css/lib/fontello.css" %}' rel="stylesheet">
    <link href='{% static "css/lib/jquery-ui-1.10.3.autocomplete.min.css" %}' rel="stylesheet">
    <link href='{% static "css/application.css" %}' rel="stylesheet">

    <style>
        /*
            This is a hack because there is no other simple way to ensure that the correct
            background url is selected in all cases for this css style.
        */
        /* spinner */
        .ajax-spinner {
            background: url("{% static "img/ajax-spinner.gif" %}") no-repeat center;
            width: 100%;
        }
    </style>
    <!--[if lt IE 9]>
      <script src='{% static "js/lib/html5shiv.js" %}'></script>
      <link href='{% static "css/lib/leaflet.ie.css" %}' rel="stylesheet">
			<link href='{% static "css/lib/ie.css" %}' rel="stylesheet">
    <![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ ga_key }}']);
        _gaq.push(['_trackPageview', '{{ request.path }}']);
        _gaq.push(function() {
            _gat._createTracker('{{ ga_key }}', 'outlinkTracker');
        });
    </script>
    {% block otherhead %}{% endblock %}
        <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("63ea510fd57ec90f213150dbca2a95d0");
    </script>
    <link href='{% static "css/lib/responsive.css" %}?v=2015041401' rel="stylesheet">
    <!-- end Mixpanel -->


  </head>
  <body lang="{{ LANGUAGE_CODE }}">
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <!-- Navbar LEFT -->
        <div class="navbar-left">

            <a class="brand" id="homepage-logo-small" href="{% url 'index' %}">
                <img src='{% static "img/logos/logo-sm.png" %}' class="logo-small" alt='CEL'>
            </a>

            {% if LANGUAGE_CODE == 'en' %}
            <a class="brand" id="homepage-logo-large" href="{% url 'index' %}">
                <img src='{% static "img/logos/logo-sm.png" %}' class="logo-small" alt='CEL'>
                <img src='{% static "img/logos/logo-en.png" %}' class="logo-text" alt='CEL'>
            </a>

            {% elif LANGUAGE_CODE == 'es' %}
            <a class="brand" id="homepage-logo-large" href="{% url 'index' %}">
                <img src='{% static "img/logos/logo-sm.png" %}' class="logo-small" alt='CEL'>
                <img src='{% static "img/logos/logo-es.png" %}' class="logo-text" alt='CEL'>
            </a>

            {% endif %}

        {% block searchform %}{% endblock %}
        </div>
        <!-- Navbar RIGHT -->
        <div class="navbar-right">
          <ul class="nav">
            
            <!-- 
            Apply icon designed by Blackwoodmedia.com.au, c/o the Noun Project.
            Chicago icon designed by by Blaise Sewell, c/o the Noun Project.
            --> 
            <li><a href="https://s56.esserver.com/cel035.enginuity.web.v6/"><span class="icomoon-apply nav-icon"></span><span class="nav-text">{% trans "Apply Now!" %}</span></a></li>

            <li><a href="{% url 'families' %}"><span class="icomoon-families nav-icon"></span><span class="nav-text">{% trans "For Families" %}</span></a></li>

            <li><a href="{% url 'city-resources' %}"><span class="icomoon-city nav-icon"></span><span class="nav-text">{% trans "City Resources" %}</span></a></li>

            <li><a href="{% url 'faq' %}"><img src='{% static "img/icons/faq.png" %}' aria-hidden="true"><span class="nav-text">{% trans "FAQs" %}</span></a></li>

            {% if LANGUAGE_CODE == 'en' %}
            <li class="lg"><a href="{% url 'setlang' language=LANGUAGES.1.0 %}" data-lang="{{ LANGUAGES.1.0 }}">Español</a></li>
            <li class="sm"><a href="{% url 'setlang' language=LANGUAGES.1.0 %}" data-lang="{{ LANGUAGES.1.0 }}">ES</a></li>

            {% elif LANGUAGE_CODE == 'es' %}
            <li class="lg"><a href="{% url 'setlang' language=LANGUAGES.0.0 %}" data-lang="{{ LANGUAGES.0.0 }}">English</a></li>
            <li class="sm"><a href="{% url 'setlang' language=LANGUAGES.0.0 %}" data-lang="{{ LANGUAGES.0.0 }}">EN</a></li>
            {% endif %}

            </li>

          </ul>
        </div>
	{% block navbar %}{% endblock %}
      </div>
        <!--[if lt IE 8]>
          <div class="alert alert-error text-center">
            <button type="button" class="close iealert-close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> Your web browser is not supported. Please upgrade for a better experience.
          </div>
        <![endif]-->

        {% with "tel:3122291690" as rtl_url %}
        <div class="ready-to-learn">
            <span>{% blocktrans %}For application information please call the Chicago Early Learning Hotline at{% endblocktrans %} <a href="{{ rtl_url }}">(312) 229-1690</a></span>
        </div>
        {% endwith %}
    </div>

    <!-- Content block --> 
    {% block content %}{% endblock %}

    <!-- Footer block -->
    {% block footer %}

    <div class="footer">
        <ul>
            <li>
                <p><a href="{% url 'about' %}">{% trans 'About the Chicago Early Learning Portal' %}</a></p>
                <p>{% trans 'Built by' %} <a href="http://www.smartchicagocollaborative.org">Smart Chicago Collaborative</a></p>
            </li>
            <li><a href="https://smartchicago2012.wufoo.com/forms/xvfz0tb1luuvfg/">{% trans 'Give us feedback' %}</a> {% trans 'to help make the Chicago Early Learning Portal better.' %}</li>
            <li>{% trans 'Keep in touch by signing up for the' %} <a href="http://chicagoearlylearning.us5.list-manage.com/subscribe?u=085247dea37361c266002462c&id=5161f6a47c">{% trans 'Early Learning Email Newsletter' %}.</a></li>
        </ul>
    </div>

    {% endblock %}

    <!-- Share Modal -->
    <div id="share-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="share-modal-label" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="share-modal-label">{% blocktrans %}Save and Share Permalink{% endblocktrans %}</h3>
      </div>
      <div class="modal-body">
        <p>{% blocktrans %}Save the following link, or share it with friends, family, or co-workers.{% endblocktrans %}</p>

        <a id="social-text" href="#"></a>
        <a target="_blank" id="social-mail" class="medium fc-webicon mail"><i class="icon-mail-alt"></i></a>
        <a target="_blank" id="social-facebook" class="medium fc-webicon facebook"><i class="icon-facebook-1"></i></a>
        <a target="_blank" id="social-gplus" class="medium fc-webicon googleplus"><i class="icon-gplus"></i></a>
        <a target="_blank" id="social-twitter" class="medium fc-webicon twitter"><i class="icon-twitter-1"></i></a>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    {% compress js %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34476553-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script src='{% static "js/require.js" %}'></script>
    <script src='{% static "js/require-config.js" %}'></script>
    {% endcompress %}
    <script>
        var inDevelopment = {{ settings.DEBUG|yesno:"true,false" }},
            version = 9;

        requirejs.config({
            //By default load any module IDs from js/lib
            // TODO: enable build in release mode once we start actually doing it
            //baseUrl: ('{{ settings.DEBUG }}' === 'True' ?
                //'{% static "js/cel" %}' : '{% static "js/cel-build" %}')
            baseUrl: '{% static "js/cel" %}',
            urlArgs: "v=" + ((inDevelopment) ? (new Date()).getTime() : version)
        });

        // Cheat to win, make a global object
        // We need this because:
        //   a) We can only render this in a django template
        //   b) We need access to the GOOGLE_MAPS_KEY to load google maps using require.
        //      If we put it in an AMD module, we have to first load the module, then
        //      have a nested require statement to load google maps, which is a PITA.
        //
        // So, if you need to require google maps, do something like
        // define([CEL.serverVars.gmapRequire], function() { ... })
        CEL = {
            serverVars: {
                latSettings: '{{ settings.LATITUDE|stringformat:'f' }}',
                lngSettings: '{{ settings.LONGITUDE|stringformat:'f' }}',
                zoomSettings: '{{ settings.ZOOM_THRESHOLD }}',
                gmapKey: '{{ settings.GOOGLE_MAPS_KEY }}',
                gmapRequire: 'async!https://maps.googleapis.com/maps/api/js?key=' +
                    '{{ settings.GOOGLE_MAPS_KEY }}' + '&libraries=places',
                autocomplete: {
                    swlat: {{ settings.AUTOCOMPLETE.SW_LAT|stringformat:'f' }},
                    swlng: {{ settings.AUTOCOMPLETE.SW_LNG|stringformat:'f' }},
                    nelat: {{ settings.AUTOCOMPLETE.NE_LAT|stringformat:'f' }},
                    nelng: {{ settings.AUTOCOMPLETE.NE_LNG|stringformat:'f' }}
                },
                staticRoot: '{% static "" %}',
                language: '{{ LANGUAGE_CODE }}',
                // settings.LANGUAGE_CODE instead of LANGUAGE_CODE because we want default, not
                //      what is currently set
                default_language: '{{ settings.LANGUAGE_CODE }}'
            }
        };
        // This forces loading of minified common libs rather than loading them separately
        require(['common'], function() { });
     </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
