{% load staticfiles %}
<!DOCTYPE html> 
<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}">

        <title>{% block title %}{% endblock %}</title> 
        {% block otherhead %}{% endblock %}
    </head> 
    <body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">
                EARLY CHILDHOOD EDUCATION PORTAL
                </a>
                <div class="hidden-phone">
                    <ul class="nav nav-pills pull-right">
                        <li id="text-link"><a data-toggle="modal" href="#address-modal">ENTER ADDRESS</a></li>
                        <li id="text-link"><a data-toggle="modal" href="#text-info-modal">TEXT FOR INFO</a></li>
                        <li id="about-link"><a href="about.html">ABOUT</a></li>
                        <li id="faq-link"><a href="faq.html">FAQ</a></li>
                    </ul>
                </div>
                <div class="visible-phone">
                    <ul class="nav nav-pills pull-right">
                        <li><a href="#">[X]</a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>

    <div id="address-modal" class="modal hide fade in" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>EARLY CHILDHOOD EDUCATION PORTAL</h3>
        </div>
        <div class="modal-body">
            <!-- <h4>Modal body text title</h4> -->
            <div>Bacon ipsum dolor sit amet fatback tail ham hock bresaola, tenderloin bacon boudin pig rump spare ribs filet mignon shankle tri-tip ham. Bresaola jowl fatback meatball turducken filet mignon beef ribs capicola tri-tip spare ribs pork belly tongue t-bone.</div>
            <div>Some sort of 4 boxes are supposed to go here, but I'm not sure what they're for</div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <input type="text" id="address-input" class="span5"
                    placeholder="Enter an address to get started">
                <button id="start-button" class="btn btn-success span1 pull-right"
                    onclick="ecep.addressClicked();">Start</a>
            </div>
        </div>
    </div>

        
    <div id="text-info-modal" class="modal hide fade in" style="display: none;">
        <div class="modal-body">
            <div class="row">
                <a class="close" data-dismiss="modal">x</a>
            </div>
            <div class="row">
                <div class="span2">
                    <img src="http://placekitten.com/g/80/120" />
                </div>
                <div class="span4 pull-right">
                    <h2>WANT INFO VIA TEXT?</h2>
                    <h2>SEND ONE TO:</h2>
                    <em><h2>(123) 456-7890</h2></em>
                    <div>Just include your zip code and we'll do the rest</div>
                </div>
            </div>
        </div>
    </div>
                
        


    {% block content %}{% endblock %}
    
    <script src="{% static "js/jquery-1.7.2.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script>
    $(document).ready(function() {
        var inputNode = $(':input#address-input');
        var startButtonNode = $('button#start-button');

        ecep = ((typeof ecep == "undefined") ? {} : ecep);
        ecep.addressClicked = function() {
            var inputText = inputNode.val();
            //Geocode address
            //Pass control to map somehow
            console.debug(inputText);
            inputNode.val('');
            $('#text-modal').modal('hide');
        };

        //Tie "enter" in text box to start button
        inputNode.keyup(function(event) {
            if(event.keyCode == 13) {
                startButtonNode.click();
            }
        });
    });
    </script>
    {% block scripts %}{% endblock %}

    </body> 
</html> 
