{% load portal_extras %}
<table class="compare-table">
    <tbody>
        <tr><td class="loc_name">
            <div>
                <h4>{{ locations.name.0|title }}</h4>
            </div>
        </td><td class="loc_name">
            <div>
                <h4>{{ locations.name.1|title }}</h4>
            </div>
        </td></tr>
        <tr><td class="loc_address">
            <div class="loc_rating pull-right">
                <!-- location anchor matches django.faq -->
                <a href="/faq.html#topic2-7" data-content="Eventually, every early learning program in Chicago will receive a rating out of five stars.  These stars will indicate program quality at a glance.  The stars are not filled in yet because the rating system is still under development at the state level.  (At this time, empty stars do not mean that a program did not or will not receive any stars.)" data-title="Rating" data-trigger="hover">
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i><br/>
                    <span class="star-notice gmnoprint">What Is This?</span>
                </a>
            </div>
            <div class="loc_address">
              <i class="icon-map-marker"></i> {{ locations.address.0 }}, {{ locations.city.0 }}, {{ locations.state.0 }} {{ locations.zip.0 }}
            </div>
        </td><td class="loc_address">
            <div class="loc_rating pull-right">
                <!-- location anchor matches django.faq -->
                <a href="/faq.html#topic2-7" data-content="Eventually, every early learning program in Chicago will receive a rating out of five stars.  These stars will indicate program quality at a glance.  The stars are not filled in yet because the rating system is still under development at the state level.  (At this time, empty stars do not mean that a program did not or will not receive any stars.)" data-title="Rating" data-trigger="hover">
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i>
                    <i class="icon-star-empty"></i><br/>
                    <span class="star-notice gmnoprint">What Is This?</span>
                </a>
            </div>
            <div class="loc_address">
              <i class="icon-map-marker"></i> {{ locations.address.1 }}, {{ locations.city.1 }}, {{ locations.state.1 }} {{ locations.zip.1 }}
            </div>
        </td></tr>
        {% if locations.accred.0 or locations.accred.1 %}
        <tr><td>
            <div class="loc_accred">
                {% if locations.accred.0 %}<i class="icon-ok"></i>&nbsp;Accreditation: {{ locations.accred.0 }}
                {% else %}&nbsp;{% endif %}
            </div>
        </td><td>
            <div class="loc_accred">
                {% if locations.accred.1 %}<i class="icon-ok"></i>&nbsp;Accreditation: {{ locations.accred.1 }}
                {% else %}&nbsp;{% endif %}
            </div>
        </td></tr>
        {% endif %}
        <tr><td> <br>
            <div class="web-email">
              {{ locations.url.0|niceweb:is_popup|url_target_blank}} <br>
              {{ locations.email.0|nicemail:is_popup }}
            </div>
        </td><td> <br>
            <div class="web-email">
              {{ locations.url.1|niceweb:is_popup|url_target_blank}} <br>
              {{ locations.email.1|nicemail:is_popup }}
            </div>
        </td></tr>
        <tr><td class="{% cycle 'textrow1' 'textrow2' as bgcolor %}">
            {% if locations.phone1.0 or locations.phone2.0 or locations.phone3.0 or locations.fax.0 %}
            <table class="loc_phone_table">
                <thead>
                    <tr>
                        {% if locations.phone1.0 %}
                        <td>Main Phone</td>
                        <!--
                        {% if locations.phone2.0 %}
                        <td>Alt. Phone</td>
                        {% if locations.phone3.0 %}
                        <td>Alt. Phone</td>
                        {% endif %}
                        {% endif %}
                        -->
                        {% endif %}
                        {% if locations.fax.0 %}
                        <td>Fax</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if locations.phone1.0 %}
                        <td>{{ locations.phone1.0|nicephone }}</td>
                        <!--
                        {% if locations.phone2.0 %}
                        <td>{{ locations.phone2.0|nicephone }}</td>
                        {% if locations.phone3.0 %}
                        <td>{{ locations.phone3.0|nicephone }}</td>
                        {% endif %}
                        {% endif %}
                        -->
                        {% endif %}
                        {% if locations.fax.0 %}
                        <td>{{ locations.fax.0|nicephone }}</td>
                        {% endif %}
                    </tr>    
                </tbody>
            </table>
            {% endif %}
        </td><td class="{{ bgcolor }}">
            {% if locations.phone1.1 or locations.phone2.1 or locations.phone3.1 or locations.fax.1 %}
            <table class="loc_phone_table">
                <thead>
                    <tr>
                        {% if locations.phone1.1 %}
                        <td>Main Phone</td>
                        <!--
                        {% if locations.phone2.1 %}
                        <td>Alt. Phone</td>
                        {% if locations.phone3.1 %}
                        <td>Alt. Phone</td>
                        {% endif %}
                        {% endif %}
                        -->
                        {% endif %}
                        {% if locations.fax.1 %}
                        <td>Fax</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if locations.phone1.1 %}
                        <td>{{ locations.phone1.1|nicephone }}</td>
                        <!--
                        {% if locations.phone2.1 %}
                        <td>{{ locations.phone2.1|nicephone }}</td>
                        {% if locations.phone3.1 %}
                        <td>{{ locations.phone3.1|nicephone }}</td>
                        {% endif %}
                        {% endif %}
                        -->
                        {% endif %}
                        {% if locations.fax.1 %}
                        <td>{{ locations.fax.1|nicephone }}</td>
                        {% endif %}
                    </tr>    
                </tbody>
            </table>
            {% endif %}
        </td></tr>
        <tr><td id="features" class="loc_simplefield {% cycle bgcolor %}">
            <h5>Programs</h5>
            {% if locations.bfields.0 %}
            <ul>
            {{ locations.bfields.0|unordered_list }}
            </ul>
            {% endif %}
        </td><td id="features" class="loc_simplefield {{ bgcolor }}">
            <h5>Programs</h5>
            {% if locations.bfields.1 %}
            <ul>
            {{ locations.bfields.1|unordered_list }}
            </ul>
            {% endif %}
        </td></tr>
{% for simple_zip in locations.sfields_zip %}
    {% if simple_zip.0.1 or simple_zip.1.1 %}
        <tr><td class="loc_simplefield {% cycle bgcolor %}">
            {% if simple_zip.0.1 %}<h5>{{ simple_zip.0.0 }}</h5>
            <div>{{ simple_zip.0.1 }}</div>
            {% else %}&nbsp;{% endif %}
        </td><td class="loc_simplefield {{ bgcolor }}">
            {% if simple_zip.1.1 %}<h5>{{ simple_zip.1.0 }}</h5>
            <div>{{ simple_zip.1.1 }}</div>
            {% else %}&nbsp;{% endif %}
        </td></tr>
    {% endif %}
{% endfor %}
    </tbody>
</table>
