{% load portal_extras %}

<div class="location_item">
{% include "popup.html" %}

{% if bfields %}
<h3>Features</h3>

<ul>
    {{ bfields|unordered_list }}
</ul>
{% endif %}

{% for simple in sfields %}
<div class="loc_simplefield">
    <h3>{{ simple.0 }}</h3>

    <div>{{ simple.1 }}</div>
</div>
{% endfor %}

{% if is_embed %}
<div class="loc_lessinfo">
    <a href="/location/{{ item.id }}" class="btn" data-id="{{ item.id }}"><i class="icon-arrow-down"></i> Less Info</a>
</div>
{% endif %}
</div>
