{% extends "base-search.html" %}

{% load i18n %}
{% load staticfiles %}
{% load portal_extras %}

{% block title %}{% trans 'For Families' %} - {% trans "Chicago Early Learning" %}{% endblock %}

{% block otherhead %}
{% endblock %}

{% block content %}
<div class="families-container">
    <div class="static-header small-header" id="families-header" style="background-image: url({% static 'img/static-pages/families-header-1.jpg' %})">
        <h1 id="resources-title">{% trans 'For Families' %}</h1>
    </div>
    <div class="families-content">

        <!--
        The translations of this static content are hardcoded because building in Django translation blocks would make this page
        and the Django translation file a nightmare. This isn't elegant, but the *proper* solution isn't any better.
        -->

        {% if LANGUAGE_CODE == 'en' %}
        <!-- English Content -->

        <h2 id="lookwhaticando">Look What I Can Do!</h2>

        <p>Through Chicago Early Learning, all of our families—no matter their needs—will be able to find and secure a quality early learning program. </p>

        <p align="center"> “Every child in every neighborhood deserves a quality education and that must begin in their earliest years.” - Chicago Mayor Rahm Emanuel </p>

        <h2 id="whyearlylearning">Why Early Learning?</h2>

        <p>Early learning programs...</p>

        <ul>
        <li>Support the development of physical, intellectual, social and emotional skills. </li>

        <li>Prepare kids to enter kindergarten. </li>

        <li>Increase a child's potential to graduate high school.</li>

        <li>Raise a child's future earning and career potential.</li>
        </ul>

        <h2 id="typesofprograms">Types of Programs</h2>

        <p>The early education programs at the City of Chicago are available in a number of different settings:</p>

        <ul>
        <li>Chicago Public Schools (CPS)-based Preschool Programs (Ages 3 and 4): Many CPS elementary schools offer early learning programs as a part of their services. </li>

        <li>Community-Based (Birth - 5): Neighborhood locations provide early childhood education and infant and toddler care. Hours vary by site. </li>

        <li>Home Visiting (Birth - 3): Visiting coaches provide early care and consulting in the family's home to qualifying families.</li>
        </ul>

        <h3 id="preschoolages35">Preschool (Ages 3 - 5)</h3>

        <p>Preschool programs may be referred to as Head Start or Preschool for All</p>

        <h4 id="whodotheyserve">Who do they serve?</h4>

        <p>Three to five year old children from qualifying families</p>

        <h4 id="whatdotheyprovide">What do they provide?</h4>

        <ul>
        <li>Educational and social development activities that promote school readiness. </li>

        <li>Either a half-day or a full-day of instruction</li>

        <li>Programs may include free health services (medical, dental, mental health), nutritious meals, as well as parent education and training.</li>
        </ul>

        <h3 id="infantandtoddlerages03">Infant and Toddler (Ages 0 - 3)</h3>

        <p>These programs may also be referred to as Early Head Start, Prevention Initiative, or Early Intervention.</p>

        <h4 id="whodotheyserve-1">Who do they serve?</h4>

        <p>Children aged birth to three years old from qualifying families</p>

        <h4 id="whatdotheyprovide-1">What do they provide?</h4>

        <ul>
        <li>Educational and social development activities.</li>

        <li>Programs may include free health services (medical, dental, mental health), nutritious meals, as well as parent education and training.</li>
        </ul>

        <h2 id="choosingtherightprogram">Choosing the Right Program</h2>

        <p>Visit your top choice early learning programs in person, if you can. You will know it's a strong program when you see the following:</p>

        <ul>
        <li>Attentive, engaged, and affectionate teachers and staff</li>

        <li>A safe, child-friendly space with toys and materials indoors and outdoors</li>

        <li>Children who are engaged and enjoying activities 1-1, with the whole group, or in a small group</li>

        <li>Children offered meals (breakfast and lunch) and naptime</li>

        <li>Age-appropriate language, literacy, math, science, art, music, movement, and dramatic play activities</li>

        <li>Visitors welcomed with appropriate safety precautions</li>

        <li>Frequent hand-washing by children and adults</li>

        <li>Exchanging information between families and teachers about the child's development and learning progress</li>

        <li>Teachers with four-year degrees and training in early childhood education</li>

        <li>A maximum of 8 infants and toddlers, a maximum of 20 preschoolers in a classroom</li>

        <li>1:3 teacher: child ratios for infants and 1:10 teacher: child ratios for preschoolers</li>
        </ul>

        <p>To learn more visit http://www.theounce.org/resources/parents/parent-quality</p>

        {% elif LANGUAGE_CODE == 'es' %}
        <!-- Spanish Content -->

        <h2 id="programasofrecidos">Programas ofrecidos</h2>

        <p>Diferentes programas sirven a niños de diferentes edades y son financiados en una variedad de maneras:</p>

        <ul>
        <li>Chicago Public Schools (CPS) Based: Las escuelas primarias en el distrito de Escuelas Públicas de Chicago ofrecen programas de educación temprana a niños de tres a cuatro años de edad.</li>

        <li>Organizaciones de servicios la comunidad: ofrecen educación temprana para niños recién nacidos a los cinco años de edad en la preparación para el Kínder (horario puede variar). Los niños en centros de cuidado de niños reciben un programa educativo mejorado. Estos programas están dirigidos a padres de bajos y moderados ingresos.</li>

        <li>Visitas a su residencia: visitas de personas entrenadas para ofrecer asistencia a los niños(a) en su propio hogar. Estos les proveerán educación y desarrollos educativos para promover una buena preparación educativa para niños recién nacidos hasta los tres años para familias con bajos ingresos.</li>
        </ul>

        <h3 id="preescuela3a5aos">Pre-escuela (3 a 5 años)</h3>

        <p>Estos programas también pueden ser conocidos como Head Start o Pre School For All.</p>

        <h4 id="aquienessirven">¿A quienes sirven?</h4>

        <p>Los niños tienen tres o cinco años de familias qualificados</p>

        <h4 id="quofrecen">¿Qué ofrecen?</h4>

        <ul>
        <li>Actividades de desarrollo de la infancia y principios educativos que promueven la preparación escolar</li>

        <li>Servicios gratuitos de salud médica, dental y de salud mental y comidas nutritivas, como también educación y entrenamiento para los padres</li>

        <li>Pueden ser de medio día o día completo</li>
        </ul>

        <h3 id="programasparaniosybebes">Programas para niños y bebes</h3>

        <p>Estos programas también pueden ser conocidos como Early Head Start, Prevention Initiative, o Early Intervention.</p>

        <h4 id="aquienessirven-1">¿A quienes sirven?</h4>

        <p>Los niños tienen menos de tres años de familias qualificados</p>

        <h4 id="quofrecen-1">¿Qué ofrecen?</h4>

        <ul>
        <li>Actividades de desarrollo de la infancia y principios educativo</li>

        <li>Servicios gratuitos de salud médica, dental y de salud mental y comidas nutritivas, como también educación y entrenamiento para los padres</li>
        </ul>

        <h2 id="consejosdecmoelegirelmejorprogramaparasuhijoa">Consejos de cómo elegir el mejor programa para su hijo(a)</h2>

        <p>Sería una buena idea hacer una cita para visitar y reunirse con los empleados del programa. Verá usted claramente los signos del mejor programa:</p>

        <ul>
        <li>Maestros y personal que son educados y atentos</li>

        <li>Un ambiente seguro, saludable y amistoso para niños</li>

        <li>Participación de los niños con las actividades</li>

        <li>Los niños reciben comidas (desayuno y almuerzo) también pueden tener siesta</li>

        <li>Actividades apropiadas (a la edad) de lenguaje, literatura, matemáticas, ciencia, el arte, la música, el movimiento y el juego dramático</li>

        <li>Visitantes son bienvenidos con el permiso de los padres</li>

        <li>Lavado frecuente de las manos de los adultos y niños</li>

        <li>Intercambio de información entre los maestros y las familias acerca del desarrollo y el progreso de aprendizaje del niño</li>

        <li>Los maestros con títulos de cuatro años y con entrenamiento en educación infantil</li>

        <li>Un máximo de 8 bebés y niños pequeños en un salón o un máximo de 20 niños en edad preescolar en un salón</li>

        <li>No menos de un maestro en un salón por cada bebe menos de tres años</li>

        <li>No menos de un maestro en un salón por cada diez niños de tres a cinco años</li>
        </ul>

        {% endif %}

    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}