{% extends "base-search.html" %}

{% load i18n %}
{% load staticfiles %}
{% load portal_extras %}

{% block title %}{% trans 'How to Apply' %} - {% trans "Chicago Early Learning" %}{% endblock %}

{% block otherhead %}
{% endblock %}

{% block content %}
<div class="enroll-container">
    <div class="static-header" id="apply-header" style="background-image: url({% static 'img/static-pages/apply-header.jpeg' %})">
        <h1 id="apply-title">{% trans 'Enroll' %}</h1>
    </div>
    <div class="enroll-content">

        <p><em>{% blocktrans %}Please note: applications are being accepted for the current school year only. The application for Fall 2017 will be available in Spring 2017.{% endblocktrans %}</em></p>
        
        <!--
        The translations of this static content are hardcoded because building in Django translation blocks would make this page
        and the Django translation file a nightmare. This isn't elegant, but the *proper* solution isn't any better.
        -->
        
        {% if LANGUAGE_CODE == 'en' %}
        <!-- English Translation -->

        <p>Enrolling your child in early childhood programs is easy and open year round. All you need is to complete three easy steps:</p>
        <ol>
            <li>Find your preferred programs.</li>
            <li><a href="https://s56.esserver.com/cel035.enginuity.web.v6">Submit an application online</a> or by calling (312) 229-1690</li>
            <li>Visit the site to which you are applying (for community-based preschool programs) or Colman or Hall Mall (for school-based preschool programs) to confirm your placement.</li>
        </ol>
        <hr>

        <h2 class="enroll-subheader">Finding programs</h2>
        <p>The City of Chicago and its partners offer early learning programs at over 600 sites throughout the city. Visit <a href="{% url 'browse' %}">our search page</a> to identify sites in areas near your home or work. The Chicago Early Learning Portal allows you to identify a programs quality rating, schedule and ages served.</p>

        <p>We encourage you to reach out to preferred providers to ask questions or schedule a visit. Resources to help identify if a program is a good fit for your family are included on our <a href="{% url 'families' %}">family information page.</a></p>

        <p>If you need assistance with general questions or finding options near you, feel free to call the Chicago Early Learning Hotline at <a href="tel:3122291690">(312) 229-1690</a>. If you have specific questions for our city departments and providers call the CPS Office of Early Childhood Education <a href="tel:7735532010">(773) 553-2010</a>, DFSS Children’s Services Division <a href="tel:8666472489">(866) 647-2489</a>, or the number listed on a provider’s detailed info page.</p>
        <hr>
        
        <h2 class="enroll-subheader">Apply</h2>
        <p>This year, Chicago launched an online application to apply for preschool programs at over 600 sites throughout the city accessible from your home computer, shared computer or mobile phone. Visit <a href="https://s56.esserver.com/cel035.enginuity.web.v6">the online application site</a> to sign up for family account and profile, create an application for your child(ren), and select your preferred sites. You will be able to immediately see if you are eligible for a preliminary placement with a provider.</p>

        <p>f you do not have access to a computer or mobile phone or would prefer in-person assistance, visit the community-based program to which you would like to apply or visit Colman – CPS Central Office (4655 S. Dearborn) or Hall Mall (4638 W. Diversey) for school-based preschool programs.</p>

        <p>You can also call the Chicago Early Learning Hotline at <a href="tel:3122291690">(312) 229-1690</a> and submit an application over the phone.</p>

        <p>If you are interested in programs for children birth to aged three – contact your preferred provider directly.</p>
        <hr>

        <h2 class="enroll-subheader">Visit to confirm</h2>
        <p>Once you have received a preliminary placement, you will be directed to the site to which you have applied (for community-based preschools) or to Colman – CPS Central Office or Hall Mall (for school-based preschools) to provide additional information that may confirm your placement. We recommend that you call in advance to confirm the necessary materials and a good time to visit.</p>

        <p>Once your placement is confirmed, you will receive any additional info necessary to finish registration and start the program. Please let your provider know if you need an immediate placement, or you are interested in enrolling for the next program year. Both options may be available.</p>

        <p>If your child or family is in a temporary living situation, living in a shelter, or sharing a house with another family, you will not be required to provide documentation. Falsifying this information may result in loss of placement.</p>

        <p>If you are looking to enroll your child in a birth to three year old program or home visiting services, please contact your preferred sites directly or call the Hotline for assistance.</p>


        {% elif LANGUAGE_CODE == 'es' %}
        <!-- Spanish Translation -->

        <p>Matricular a su hijo (a) en el programa de aprendizaje de temprana edad es fácil y está disponible todo el año. Sólo se necesita completar tres pasos fáciles:</p>
        <ol>
            <li>Encontrar el programa(s) preferido</li>
            <li><a href="https://s56.esserver.com/cel035.enginuity.web.v6">Someter una solicitud</a> o llamar al (312) 229-1690</li>
            <li>Visitar a su proveedor o a un Centro de Recursos Familiares para confirmar su puesto.</li>
        </ol>
        <hr>

        <h2 class="enroll-subheader">Entérese de programas</h2>
        <p>La Ciudad de Chicago, junto con sus afiliados ofrece programas de aprendizaje a temprana edad en más de 600 localidades en varias áreas de la ciudad. Visite <a href="{% url 'browse' %}">nuestra página de internet</a> y busque un centro más cercano al lugar de su trabajo o residencia. También puede identificar programas, clasificarlos, buscar horarios y las edades atendidos.</p>

        <p>Le recomendamos buscar proveedores preferidos y hacerles preguntas y enterarse de sus horarios. Recursos para ayudar a identificar si un programa es una buena opción para su familia están incluidos en <a href="{% url 'families' %}">nuestra página de información familiar</a>.</p>

        <p>Si usted necesita ayuda con preguntas generales o de cómo encontrar opciones cerca de usted, no dude de llamar a la Línea de Aprendizaje Temprano de Chicago en <a href="tel:3122291690">(312) 229-1690</a>. Sí usted tiene una pregunta específica para nuestros departamentos y proveedores de la ciudad de Chicago, puede llamar a la oficina de CPS (las escuelas públicas de Chicago) educación a temprana edad <a href="tel:7735532010">(773) 553-2010</a>, DFSS (Departamento de Apoyos y Servicios para Familias) división de servicios para niños <a href="tel:8666472489">(866) 647-2489</a>, o a el número de teléfono que aparece en la página detallada de los proveedores.</p>
        <hr>
        
        <h2 class="enroll-subheader">Solicitar</h2>
        <p>Este año, la cuidad de Chicago lanzó una aplicación en el internet para que familias puedan solicitar los programas preescolares en más de 600 centros en la ciudad accesible desde su computadora o su teléfono móvil. Visite <a href="https://s56.esserver.com/cel035.enginuity.web.v6">la aplicación en el internet</a> para adquirir una cuenta y perfil familiar, crear una aplicación para su hijo(s), y seleccionar su centro(s) preferido(s). Usted se enterará inmediatamente si usted es elegible para una colocación preliminar con un proveedor.</p>

        <p>Si usted no tiene acceso a una computadora o un teléfono móvil o si prefiere asistencia en personal, puede hacerlo visitando la locación cual usted esta interesado si es un proveedor de servicios comunitarios o Hall Mall (4638 W Diversey) o Colman (4655 S Dearborn) si aplico a un programa de CPS.</p>

        <p>También puede llamar a la Línea de Aprendizaje Temprano de Chicago en <a href="tel:3122291690">(312) 229-1690</a> y someter una solicitud por teléfono.</p>

        <p>Si usted está interesado(a) de un programa para niños recién nacidos hasta la edad de tres años, comuníquese con su proveedor directamente.</p>
        <hr>

        <h2 class="enroll-subheader">Verificar su visita</h2>
        <p>Una vez obtenido el puesto preliminar, usted será asignado a su proveedor (si eligio un programa de sevicios comunitarios) o Hall Mall o Colman CPS Central Office (si eligio un programa de CPS) para proporcionarle información adicional el cual podría confirmar su puesto. Le recomendamos llamar a su centro asignado para el material necesario y el horario adecuado para la entrevista.</p>

        <p>Una vez que su puesto sea confirmado usted recibirá información adicional necesaria para completar su solicitud y empezar el programa. Por favor comuníquele a su proveedor si necesita un puesto de inmediato o si está interesado(a) en el programa del próximo año. Estas dos opciones podrían estar disponibles.</p>

        <p>Si su hijo(a) o la familia está atravesando por una situación de vivienda temporal, en un refugio o compartiendo la vivienda con otra familia, usted no necesitará proporcionar ningún documento. Proveyendo información falsa sobre este asunto podría ser la causa para la pérdida del puesto.</p>

        <p>Si usted está buscando para inscribir a su hijo(a) en un programa desde el nacimiento hasta la edad de tres años o prefiere servicios de visitas a domicilio, por favor póngase en contacto con su preferido proveedor de servicios preescolares, o a la Línea de Aprendizaje Temprano de Chicago en (312) 229-1690 para asistencia.</p>
        
        {% endif %}

    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}