{% extends "base-search.html" %}

{% load i18n %}
{% load staticfiles %}
{% load portal_extras %}

{% block title %}{% trans 'How to Apply' %} - {% trans "Chicago Early Learning" %}{% endblock %}

{% block otherhead %}
{% endblock %}

{% block content %}
<div class="enroll-container">
    <div class="static-header" id="apply-header" style="background-image: url({% static 'img/static-pages/apply-header.jpeg' %})">
        <h1 id="apply-title">{% trans 'Apply Today' %}</h1>
    </div>
    <div class="enroll-content">
        
        {% if LANGUAGE_CODE == 'en' %}
        <!-- English Translation -->

        <p><em>If you are interested in programs for children birth to aged three – contact your preferred provider directly.</em></p>

        <h3 id="areyoureadytoapplyforpreschoolforyour3or4yearold">Are you ready to apply for preschool for your 3 or 4 year old?</h3>

        <p>Enrolling your 3 or 4 year-old child in an early learning program is easy, and open year-round. Follow these easy steps to get your child enrolled in preschool:</p>
        
        <div class="enroll-steps">
            <p><strong>Step 1)</strong><a href="https://cys.mycopa.com/familyPortal/welcome.epl"> Click here</a> to create an online account for your family</p>

            <p><strong>Step 2)</strong> Fill in information on your family, such as employment and income, information on your child, and then apply for your top choice preschool site</p>

            <p><strong>Step 3)</strong> If your child qualifies, you will receive an email this summer with information on how to verify your child’s preschool seat</p>
        </div>

        <p>See you for the first day of school in September!</p>

        <p>If you have questions, please call our Chicago Early Learning Hotline: <a href="tel:3122291690">(312) 229-1690</a>.</p>

        <h3 id="haveyoufoundtherightprogramforyourchild">Have you found the right program for your child?</h3>

        <p>The City of Chicago and its partners offer early learning programs at over 600 sites throughout the city. Visit  to identify sites in areas near your home or work. The Chicago Early Learning Portal allows you to identify a program’s quality rating, schedule and ages served.</p>

        <p>We encourage you to reach out to preferred providers to ask questions or schedule a visit. Resources to help identify if a program is a good fit for your family are included on <a href="https://chicagoearlylearning.org/families">our family information page.</a></p>

        <h3 id="needapplicationsupport">Need application support?</h3>

        <p>If you have any concerns with the online application, please call our Family Support Hotline at <a href="tel:3122291690">(312) 229-1690</a>, or visit any of the Family Resource Centers listed below.</p>

        <p>You are welcome to visit a Chicago Public School or community-based preschool site directly, within their operating hours, for additional support.</p>

        <h3 id="howwillyouverifyyourchildsplacement">How will you verify your child's placement?</h3>

        <p>If your child is offered a preliminary preschool placement, you will receive an email with verification instructions.</p>

        <p>Follow these three steps to accept your child’s placement:</p>

        <h4 class="enroll-step">Step 1) Gather Documents</h4>

        <p><strong>*see below for a list of document types that are accepted as proof of your child's birth and proof of employment or other income</strong></p>

        <h4 class="enroll-step">Step 2) Bring and verify Documents</h4>

        <p>If your child has a seat at a <strong>Community-based site</strong> bring your documents directly to the site which your child was assigned.</p>

        <p>If your child has a seat at a <strong>Chicago Public School (CPS) site</strong> bring your documents to a Family Resource Center.<p>

        <div class="enroll-table">
            <h3>Family Resource Centers</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Resource Center</th>
                        <th rowspan="2">Address</th>
                        <th rowspan="2">Telephone Number</th>
                        <th colspan="5">Hours of Operation</th>
                    </tr>
                    <tr>
                        <th>M</th>
                        <th>T</th>
                        <th>W</th>
                        <th>Th</th>
                        <th>F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="1">
                        <td>Austin Library</td>
                        <td><a href="https://www.google.com/maps/place/5615+W+Race+Ave,+Chicago,+IL+60644/@41.889016,-87.7679999,17z/data=!3m1!4b1!4m5!3m4!1s0x880e334fe8b68017:0x77ac716a833b6c1e!8m2!3d41.889016!4d-87.7658112?hl=en&authuser=0">5615 W. Race Ave, Chicago IL 60644</a></td>
                        <td>(312) 746-5038</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="2">
                        <td>Avalon Park Library</td>
                        <td><a href="https://www.google.com/maps/place/8148+S+Stony+Island+Ave,+Chicago,+IL+60617/@41.7463322,-87.5884372,17z/data=!3m1!4b1!4m5!3m4!1s0x880e288f740d0c13:0xbe70658f1220073d!8m2!3d41.7463322!4d-87.5862485?hl=en&authuser=0">8148 S. Stony Island, Chicago IL 60617</a></td>
                        <td>(312) 747-5234</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="3">
                        <td>Bezazian Library</td>
                        <td><a href="https://www.google.com/maps/place/1226+W+Ainslie+St,+Chicago,+IL+60640/@41.9716922,-87.6629256,17z/data=!3m1!4b1!4m5!3m4!1s0x880fd22ba1015b69:0x6975a780a4700a63!8m2!3d41.9716922!4d-87.6607369?hl=en&authuser=0">1226 W. Ainslie St, Chicago IL 60640</a></td>
                        <td>(312) 744-0019</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="4">
                        <td>Budlong Woods Library</td>
                        <td><a href="https://www.google.com/maps/place/5630+N+Lincoln+Ave,+Chicago,+IL+60659/@41.9833634,-87.6985169,17z/data=!3m1!4b1!4m5!3m4!1s0x880fd1fd9ffe6da1:0xdcb488a3a5d6a88d!8m2!3d41.9833634!4d-87.6963282?hl=en&authuser=0">5630 N. Lincoln Ave, Chicago IL 60659</a></td>
                        <td>(312) 742-9590</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="5">
                        <td>Humboldt Park Library*</td>
                        <td><a href="https://www.google.com/maps/place/1605+N+Troy+St,+Chicago,+IL+60647/@41.9104659,-87.7075348,17z/data=!3m1!4b1!4m5!3m4!1s0x880fcd5b734a5a17:0xd0cd73baded3cb76!8m2!3d41.9104659!4d-87.7053461?hl=en&authuser=0">1605 N. Troy, Chicago IL 60647</a></td>
                        <td>(312) 744-2244</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="6">
                        <td>Legler Library</td>
                        <td><a href="https://www.google.com/maps/place/115+S+Pulaski+Rd,+Chicago,+IL+60624/@41.8793122,-87.7274915,17z/data=!3m1!4b1!4m5!3m4!1s0x880e32c2fac680ab:0x42cbbca0262159e9!8m2!3d41.8793122!4d-87.7253028?hl=en&authuser=0">115 S. Pulaski Rd, Chicago IL 60624</a></td>
                        <td>(312) 746-7730</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="7">
                        <td>Little Village Library*</td>
                        <td><a href="https://www.google.com/maps/place/2311+S+Kedzie+Ave,+Chicago,+IL+60623/@41.8496377,-87.7069855,17z/data=!3m1!4b1!4m5!3m4!1s0x880e327a552c8d41:0x8d03af1f1f0a8647!8m2!3d41.8496377!4d-87.7047968?hl=en&authuser=0">2311 S. Kedzie Ave, Chicago IL 60623</a></td>
                        <td>(312) 745-1862</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="8">
                        <td>McKinley Park Library*</td>
                        <td><a href="https://www.google.com/maps/place/1915+W+35th+St,+Chicago,+IL+60609/@41.8301512,-87.6757797,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2dc38dc1a8dd:0x9b49ef4ad5bd370d!8m2!3d41.8301512!4d-87.673591?hl=en&authuser=0">1915 W. 35th St, Chicago IL 60609</a></td>
                        <td>(312) 747-6082</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="9">
                        <td>Portage-Cragin Library*</td>
                        <td><a href="https://www.google.com/maps/place/5108+W+Belmont+Ave,+Chicago,+IL+60641/@41.9389444,-87.7571573,17z/data=!3m1!4b1!4m5!3m4!1s0x880fcc5fbcb116df:0x814a88520e7b19ec!8m2!3d41.9389444!4d-87.7549686?hl=en&authuser=0">5108 W. Belmont Ave, Chicago IL 60641</a></td>
                        <td>(312) 744-0152</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="10">
                        <td>Thurgood Marshall Library</td>
                        <td><a href="https://www.google.com/maps/place/7506+S+Racine+Ave,+Chicago,+IL+60620/@41.7573801,-87.6565622,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2f0b47f3a411:0xea0de1925a9d11b3!8m2!3d41.7573801!4d-87.6543735?hl=en&authuser=0">7506 S. Racine Ave, Chicago IL 60620</a></td>
                        <td>(312) 747-5927</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="11">
                        <td>West Lawn Library*</td>
                        <td><a href="https://www.google.com/maps/place/4020+W+63rd+St,+Chicago,+IL+60629/@41.7788952,-87.7257778,17z/data=!3m1!4b1!4m5!3m4!1s0x880e31b33ecb65c9:0xbf16ecffef926623!8m2!3d41.7788952!4d-87.7235891?hl=en&authuser=0">4020 W. 63rd St, Chicago IL 60629</a></td>
                        <td>(312) 747-7381</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="12">
                        <td>Colman</td>
                        <td><a href="https://www.google.com/maps/place/4655+S+Dearborn+St,+Chicago,+IL+60609/@41.8101095,-87.6291247,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2eaf3bbc767d:0x168afc59fd14a72!8m2!3d41.8101095!4d-87.626936?hl=en&authuser=0">4655 S. Dearborn St, Chicago IL 60609</a></td>
                        <td>(773) 553-2010</td>
                        <td>9AM - 5PM</td>
                        <td>9AM - 5PM</td>
                        <td>9AM - 5PM</td>
                        <td>9AM - 5PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                </tbody>
            </table>
            <p><em>*Bilingual support</em></p>
            <p><em>Applications will be taken 30 minutes after opening and will end 30 minutes before closing.</em></p>
        </div>

        <h4 class="enroll-step">Step 3) Bring your child on the first day of school in September. Let the learning begin!</h4>

        <hr>
        <h4 id="listofdocumentsthataregenerallyacceptedforverification">*List of Documents that are generally accepted for verification:</h4>

        <h4 id="proofofchildsage">Proof of child’s age</h4>

        <ul>
        <li>Original birth certificate</li>

        <li>Passport</li>
        </ul>

        <h4 id="proofofaddress">Proof of address</h4>

        <ul>
        <li>Driver’s license/ID card</li>

        <li>Utility bill</li>

        <li>Lease agreement/mortgage statement</li>

        <li>Current voter’s registration card</li>
        </ul>

        <h4 id="proofofincome">Proof of income</h4>

        <ul>
        <li>Current paystub</li>

        <li>1040/W-2</li>

        <li>SSI Letter</li>

        <li>Unemployment letter/stub</li>

        <li>Workers’ compensation letter/stub</li>

        <li>Retirement or pension stub/letter</li>

        <li>Alimony</li>

        <li>Official child support letter</li>

        <li>TANF</li>

        <li>Income verification form</li>
        </ul>

        <p><em>Note:  If your family is in a temporary living situation, you are not required to present the documents listed above for verification.  All schools must immediately enroll students in temporary living situations even if the student lacks health, immunization or school records, proof of guardianship, proof of residency, or any other documentation normally required for school enrollment.</em></p>


        {% elif LANGUAGE_CODE == 'es' %}
        <!-- Spanish Translation -->
        <p><em>Si está interesado en los programas para niños recién nacidos y hasta la edad de tres años, contacte directamente a su proveedor preferido.</em></p>

        <h3 id="estnpreparadosparaaplicarparasunioquetiene3o4aos">¿Está listo para comenzar la solicitud para preescolar de su niño de tres o cuatro años?</h3>

        <p>La inscripción de su niño de 3 o 4 años de edad en un programa de educación temprana es fácil y está abierta todo el año. Siga estos simples pasos para inscribir a su niño en preescolar:</p>

        <div class="enroll-steps">
            <p><strong>Paso 1)</strong> <a href="https://cys.mycopa.com/familyPortal/welcome.epl">Presione aquí</a> para crear una cuenta en línea para su familia.</p>

            <p><strong>Paso 2)</strong> Rellene la información acerca de su familia, como sus empleos e ingresos económicos, la información acerca de su niño y luego envíe la solicitud en línea para el programa preescolar de su preferencia.</p>

            <p><strong>Paso 3)</strong> Si su niño califica, usted recibirá un correo electrónico este verano con información acerca de cómo verificar el espacio en preescolar que le fue asignado a su niño.</p>
        </div>

        <p>¡Nos vemos el primer día de escuela en septiembre!</p>

        <p>Si tiene preguntas, llame a la línea de acceso directo de Educación Temprana de Chicago: <a href="tel:3122291690">(312) 229-1690</a>.</p>

        <h3 id="haveyoufoundtherightprogramforyourchild"><strong>¿Ha encontrado el programa apropiado para su niño?</strong></h3>

        <p>La Ciudad de Chicago y sus socios ofrecen programas de educación temprana en más de 600 sitios a lo largo de la ciudad. Visite <a href="https://chicagoearlylearning.org/search/">nuestra página de búsqueda</a> para identificar los sitios que están cerca de su casa o del trabajo. El Portal de Educación Temprana de Chicago le permite identificar la calificación de la calidad de un programa, los horarios y las edades que aceptan.</p>

        <p>Queremos animarlo a contactar directamente a sus proveedores preferidos para hacerles preguntas o programar una visita. La lista de recursos que le pueden ayudar a identificar si un programa es para su familia está incluida en <a href="https://chicagoearlylearning.org/families">la página de información para la familia</a>.</p>

        <h3 id="needapplicationsupport">¿Necesita ayuda con la solicitud?</h3>

        <p>Si tiene alguna preocupación acerca de la solicitud en línea, llame a la línea de acceso directo de Apoyo para la Familia: <a href="tel:3122291690">(312) 229-1690</a>, o visite <a href="https://chicagoearlylearning.org/faq#lista-de-centro-de-recursos-familiares">cualquiera de los Centros de Recursos para la Familia que se enlistan abajo</a>.</p>

        <p>Puede visitar directamente un sitio preescolar de las Escuelas Públicas de Chicago o alguno de los sitios que están basados en la comunidad, dentro de sus horas de operación, para obtener apoyo adicional.</p>

        <h3 id="howwillyouverifyyourchildsplacement">¿Cómo puede verificar la asignación de su niño?</h3>

        <p>Si se le ofrece de manera preliminar un espacio a su niño en un programa preescolar, usted recibirá un correo electrónico con las instrucciones que tiene que seguir para la verificación.</p>

        <p>Siga estos tres pasos para aceptar la asignación de su niño:</p>

        <h4 class="enroll-step">Paso 1) Reúna sus documentos</h4>

        <p><strong>*vea abajo la lista de los tipos de documentos que son aceptados como comprobante del nacimiento de su niño y comprobante de empleo u otro tipo de ingresos económicos.</strong></p>

        <h4 class="enroll-step">Paso 2) Lleve y verifique sus documentos</h4>

        <p>Si le han asignado preliminarmente un espacio a su niño en un <strong>sitio que esté basado en la comunidad</strong>, lleve sus documentos directamente al sitio al que fue asignado su niño.</p>

        <p>Si le han asignado preliminarmente un espacio a su niño en un <strong>sitio de las Escuelas Públicas de Chicago (CPS)</strong>, lleve sus documentos al Centro de Recursos para la Familia.<p>

        <div class="enroll-table">
            <h3>Centros de Recursos Familiares</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Centros de Recursos</th>
                        <th rowspan="2">Dirección</th>
                        <th rowspan="2">Número de Teléfono</th>
                        <th colspan="5">Horas</th>
                    </tr>
                    <tr>
                        <th>M</th>
                        <th>T</th>
                        <th>W</th>
                        <th>Th</th>
                        <th>F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="1">
                        <td>Austin Library</td>
                        <td><a href="https://www.google.com/maps/place/5615+W+Race+Ave,+Chicago,+IL+60644/@41.889016,-87.7679999,17z/data=!3m1!4b1!4m5!3m4!1s0x880e334fe8b68017:0x77ac716a833b6c1e!8m2!3d41.889016!4d-87.7658112?hl=en&authuser=0">5615 W. Race Ave, Chicago IL 60644</a></td>
                        <td>(312) 746-5038</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="2">
                        <td>Avalon Park Library</td>
                        <td><a href="https://www.google.com/maps/place/8148+S+Stony+Island+Ave,+Chicago,+IL+60617/@41.7463322,-87.5884372,17z/data=!3m1!4b1!4m5!3m4!1s0x880e288f740d0c13:0xbe70658f1220073d!8m2!3d41.7463322!4d-87.5862485?hl=en&authuser=0">8148 S. Stony Island, Chicago IL 60617</a></td>
                        <td>(312) 747-5234</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="3">
                        <td>Bezazian Library</td>
                        <td><a href="https://www.google.com/maps/place/1226+W+Ainslie+St,+Chicago,+IL+60640/@41.9716922,-87.6629256,17z/data=!3m1!4b1!4m5!3m4!1s0x880fd22ba1015b69:0x6975a780a4700a63!8m2!3d41.9716922!4d-87.6607369?hl=en&authuser=0">1226 W. Ainslie St, Chicago IL 60640</a></td>
                        <td>(312) 744-0019</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="4">
                        <td>Budlong Woods Library</td>
                        <td><a href="https://www.google.com/maps/place/5630+N+Lincoln+Ave,+Chicago,+IL+60659/@41.9833634,-87.6985169,17z/data=!3m1!4b1!4m5!3m4!1s0x880fd1fd9ffe6da1:0xdcb488a3a5d6a88d!8m2!3d41.9833634!4d-87.6963282?hl=en&authuser=0">5630 N. Lincoln Ave, Chicago IL 60659</a></td>
                        <td>(312) 742-9590</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="5">
                        <td>Humboldt Park Library*</td>
                        <td><a href="https://www.google.com/maps/place/1605+N+Troy+St,+Chicago,+IL+60647/@41.9104659,-87.7075348,17z/data=!3m1!4b1!4m5!3m4!1s0x880fcd5b734a5a17:0xd0cd73baded3cb76!8m2!3d41.9104659!4d-87.7053461?hl=en&authuser=0">1605 N. Troy, Chicago IL 60647</a></td>
                        <td>(312) 744-2244</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="6">
                        <td>Legler Library</td>
                        <td><a href="https://www.google.com/maps/place/115+S+Pulaski+Rd,+Chicago,+IL+60624/@41.8793122,-87.7274915,17z/data=!3m1!4b1!4m5!3m4!1s0x880e32c2fac680ab:0x42cbbca0262159e9!8m2!3d41.8793122!4d-87.7253028?hl=en&authuser=0">115 S. Pulaski Rd, Chicago IL 60624</a></td>
                        <td>(312) 746-7730</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="7">
                        <td>Little Village Library*</td>
                        <td><a href="https://www.google.com/maps/place/2311+S+Kedzie+Ave,+Chicago,+IL+60623/@41.8496377,-87.7069855,17z/data=!3m1!4b1!4m5!3m4!1s0x880e327a552c8d41:0x8d03af1f1f0a8647!8m2!3d41.8496377!4d-87.7047968?hl=en&authuser=0">2311 S. Kedzie Ave, Chicago IL 60623</a></td>
                        <td>(312) 745-1862</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="8">
                        <td>McKinley Park Library*</td>
                        <td><a href="https://www.google.com/maps/place/1915+W+35th+St,+Chicago,+IL+60609/@41.8301512,-87.6757797,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2dc38dc1a8dd:0x9b49ef4ad5bd370d!8m2!3d41.8301512!4d-87.673591?hl=en&authuser=0">1915 W. 35th St, Chicago IL 60609</a></td>
                        <td>(312) 747-6082</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="9">
                        <td>Portage-Cragin Library*</td>
                        <td><a href="https://www.google.com/maps/place/5108+W+Belmont+Ave,+Chicago,+IL+60641/@41.9389444,-87.7571573,17z/data=!3m1!4b1!4m5!3m4!1s0x880fcc5fbcb116df:0x814a88520e7b19ec!8m2!3d41.9389444!4d-87.7549686?hl=en&authuser=0">5108 W. Belmont Ave, Chicago IL 60641</a></td>
                        <td>(312) 744-0152</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="10">
                        <td>Thurgood Marshall Library</td>
                        <td><a href="https://www.google.com/maps/place/7506+S+Racine+Ave,+Chicago,+IL+60620/@41.7573801,-87.6565622,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2f0b47f3a411:0xea0de1925a9d11b3!8m2!3d41.7573801!4d-87.6543735?hl=en&authuser=0">7506 S. Racine Ave, Chicago IL 60620</a></td>
                        <td>(312) 747-5927</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="11">
                        <td>West Lawn Library*</td>
                        <td><a href="https://www.google.com/maps/place/4020+W+63rd+St,+Chicago,+IL+60629/@41.7788952,-87.7257778,17z/data=!3m1!4b1!4m5!3m4!1s0x880e31b33ecb65c9:0xbf16ecffef926623!8m2!3d41.7788952!4d-87.7235891?hl=en&authuser=0">4020 W. 63rd St, Chicago IL 60629</a></td>
                        <td>(312) 747-7381</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>12PM - 8PM</td>
                        <td>10AM - 6PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                    <tr id="12">
                        <td>Colman</td>
                        <td><a href="https://www.google.com/maps/place/4655+S+Dearborn+St,+Chicago,+IL+60609/@41.8101095,-87.6291247,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2eaf3bbc767d:0x168afc59fd14a72!8m2!3d41.8101095!4d-87.626936?hl=en&authuser=0">4655 S. Dearborn St, Chicago IL 60609</a></td>
                        <td>(773) 553-2010</td>
                        <td>9AM - 5PM</td>
                        <td>9AM - 5PM</td>
                        <td>9AM - 5PM</td>
                        <td>9AM - 5PM</td>
                        <td>9AM - 5PM</td>
                    </tr>
                </tbody>
            </table>
            <p><em>*Apoyo bilingüe</em></p>
            <p><em>Las solicitudes se aceptan 30 minutos después de abrir y se continúan aceptando hasta 30 minutos antes del cierre.</em></p>
        </div>

        <h4 class="enroll-step">Paso 3) Lleve a su niño al primer día de clases en septiembre. ¡Y que dé comienzo el aprendizaje!</h4>

        <h3 id="listadedocumentoscalificadosparacolocacin">*Lista de documentos que generalmente son aceptados para la verificación:</h3>

        <p>Un centro puede solicitar documentación adicional antes de completar la inscripción.</p>

        <h4 id="pruebadeedaddelnioa">Comprobante de la edad del niño</h4>

        <ul>
            <li>Acta de nacimiento original</li>

            <li>Pasaporte</li>
        </ul>

        <h4 id="proofofaddress">Comprobante de domicilio</h4>

        <ul>
            <li>Licencia de conducir o identificación estatal</li>

            <li>Recibo de luz, teléfono, gas, etc.</li>

            <li>Convenio de renta/Hipoteca</li>

            <li>Tarjeta electoral actualizada</li>
        </ul>

        <h4 id="pruebadeingresos">Comprobante de ingresos económicos</h4>

        <ul>
            <li>Talón o comprobante de pago reciente</li>

            <li>1040/W-2</li>

            <li>Carta del SSI</li>

            <li>Carta o talón de pago por desempleo</li>

            <li>Carta o talón de pago de la Compensación Laboral</li>

            <li>Carta o talón de pago por jubilación o pensión</li>

            <li>Pensión alimenticia</li>

            <li>Carta oficial sobre el mantenimiento de los niños</li>

            <li>TANF</li>

            <li>Formulario de verificación de ingresos</li>
        </ul>

        <p><em>Nota: Si su familia se encuentra en una situación de vivienda temporal, no necesita presentar los documentos enlistados arriba para su verificación. Todas las escuelas deben de inscribir inmediatamente a los estudiantes que se encuentren en una situación de vivienda temporal, aun si el estudiante no tiene sus expedientes escolares, de salud o de vacunas, comprobante de tutelaje, comprobante de residencia o cualquier otro documento que normalmente se requiera para la inscripción.</em></p>

        {% endif %}

    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}