{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Chicago Early Learning{% endblock %}

{% block otherhead %}
<!-- custom head tags go here -->
{% endblock %}

{% block content %}
<div class="subnav subnav-fixed">
    <div class="container">
        <ul class="nav">
            <li>
                <a id="geolocate" href="#"><i class="icon-screenshot"></i></a>
            </li>
        </ul>
        <form class="navbar-search pull-left">
            <input class="search-query span2" type="text" id="search_address" placeholder="Search"/>
            <select class="hidden-phone search-query">
                <option value="0.5">&lt; 0.5 mi</option>
                <option value="1">&lt; 1 mi</option>
                <option value="2">&lt; 2 mi</option>
                <option value="5">&lt; 5 mi</option>
            </select>
        </form>
        <ul class="nav">
            <li>
                <a id="search" href="#"><i class="icon-search"></i> Search</a>
            </li>
        </ul>
        <div class="hidden-phone">
            <ul class="nav nav-pills pull-right">
                <li>
                    <a id="filter-toggle" href="#"><i class="icon-filter"></i> Filter</a>
                    <a href="#"><i class="icon-print"></i> Print</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="map_container">
    <div id="map"></div>
</div>
<div class="hidden-phone directions"></div>
<div class="visible-phone directions"></div>

<div id="address-modal" class="modal hide fade in">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>EARLY CHILDHOOD EDUCATION PORTAL</h3>
    </div>
    <div class="modal-body">
        <!-- <h4>Modal body text title</h4> -->
        <div>Bacon ipsum dolor sit amet fatback tail ham hock bresaola, tenderloin bacon boudin pig rump spare ribs filet mignon shankle tri-tip ham. Bresaola jowl fatback meatball turducken filet mignon beef ribs capicola tri-tip spare ribs pork belly tongue t-bone.</div>
        <div>Some sort of 4 boxes are supposed to go here, but I'm not sure what they're for</div>
    </div>
    <div class="modal-footer">
        <input type="text" class="visible-phone address-input"
            placeholder="Enter an address to get started" />
        <input type="text" class="hidden-phone address-input"
            placeholder="Enter an address to get started" />
        <button id="start-button" class="btn btn-success pull-right">Start</a>
    </div>
</div>

<div id="filter-selection">
    <textarea>
        {% for f in fields %}
        <div>
            <input type="checkbox" value="true" name="{{ f.0 }}" id="{{ f.0 }}" class="loc_filter_check"/>
            <label for="{{ f.0 }}" class="filter-label">{{ f.1 }}</label>
        {% if forloop.last %}
            <button class="btn pull-right" id="update-filter"><i class="icon-search"></i> Update</button>
        {% endif %}
        </div>
        {% endfor %}
    </textarea>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCmAps8bQ6lqL1G5-SqfBQZdqEFWFePKKc&sensor=false"></script>
<script type="text/javascript" src="{% static "js/map.js" %}"></script>
<script type="text/javascript" src="{% static "js/markerclusterer.js" %}"></script>
{% endblock %}
