{% extends 'base-outreach.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "Outreach" %}
{% endblock %}

{% block template_headers %}
<script type="text/javascript">

</script>
{% endblock %}

{% block body %}
<div class="container-wrapper" id="outreach-wrapper">
    <div class="container" id="dummy-nav-container">
        <div id="outreach-nav">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <a href="#resources" class="nav-link active" data-toggle="tab" role="tab">
                        <div class="outreach-tab-logo" id="resources-logo">{% svg 'icons/browser' %}</div>
                        <!-- <div class="outreach-tab-logo" id="resources-logo"></div> -->
                        Resources
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#events" class="nav-link" data-toggle="tab" role="tab">
                        <div class="outreach-tab-logo" id="events-logo">{% svg 'icons/browser' %}</div>
                        Events
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#share" class="nav-link" data-toggle="tab" role="tab">
                        <div class="outreach-tab-logo" id="share-logo">{% svg 'icons/browser' %}</div>
                        Share
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#impact" class="nav-link" data-toggle="tab" role="tab">
                        <div class="outreach-tab-logo" id="impact-logo">{% svg 'icons/browser' %}</div>
                        Impact
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" id="outreach-container">
        <div id="outreach-content" class="tab-content">
            <div class="tab-pane fade show active" role="tabpanel" id="resources">
                <p>Resources</p>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="events">
                <p>Events</p>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="share">
                <p>Share</p>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="impact">
                <div>
                    <h1>Impact</h1>
                </div>

            </div>
            
        </div>
    </div>
</div>


{% endblock %}

