{% load portal_extras %}
{% if is_popup %}<div class="location_item">{% endif %}
    <h4>{{ item.site_name }}{% if is_popup %} <a href="/location/{{ item.id }}/"><i class="icon-share"></i></a>{% endif %}</h4>

    <div class="loc_address">
      {{ item.address }}, {{ item.city }}, {{ item.state }} {{ item.zip }}
    </div>

    <div class="loc_rating">
        <i class="icon-star-empty"></i>
        <i class="icon-star-empty"></i>
        <i class="icon-star-empty"></i>
        <i class="icon-star-empty"></i>
        <i class="icon-star-empty"></i><br/>
        <span class="star-notice gmnoprint">What Is This?</span>
    </div>

    {% if item.accred %}
    <div>
        <i class="icon-ok"></i>&nbsp;Accreditation: {{ item.accred }}
    </div>
    {% endif %}

    <div>
      {{ item.url|urlize }}<br />
      {{ item.email|urlize }}
    </div>

    {% if item.phone1 or item.phone2 or item.phone3 or item.fax %}
    <div class="{% if not is_popup %}{% cycle 'textrow1' 'textrow2' as bgcolor %}{% endif %}">
    <table class="loc_phone_table">
        <thead>
            <tr>
                {% if item.phone1 %}
                <td>Main Phone</td>
                {% if item.phone2 %}
                <td>Alt. Phone</td>
                {% if item.phone3 %}
                <td>Alt. Phone</td>
                {% endif %}
                {% endif %}
                {% endif %}
                {% if item.fax %}
                <td>Fax</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if item.phone1 %}
                <td>{{ item.phone1|nicephone }}</td>
                {% if item.phone2 %}
                <td>{{ item.phone2|nicephone }}</td>
                {% if item.phone3 %}
                <td>{{ item.phone3|nicephone }}</td>
                {% endif %}
                {% endif %}
                {% endif %}
                {% if item.fax %}
                <td>{{ item.fax|nicephone }}</td>
                {% endif %}
            </tr>    
        </tbody>
    </table>
    </div>
    {% endif %}

{% if is_popup %}
    <div class="loc_directions gmnoprint">
        <div class="nav_single">
            <a class="btn nav_to_location" href="#" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})"><i class="icon-map-marker"></i> Directions</a>
        </div>
        <div class="nav_multi btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-map-marker"></i>
                Directions
                <i class="icon-chevron-right"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="nav_to_location" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})" data-navto="geolocated">From: Your Location</a></li>
                <li><a href="#" class="nav_to_location" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})" data-navto="geocoded">From: Address</a></li>
            </ul>
        </div>
    </div>

    <div class="loc_moreinfo gmnoprint">
        <a href="/location/{{ item.id }}" class="btn" data-id="{{ item.id }}"><i class="icon-arrow-up"></i> More Info</a>
    </div>
</div>
{% endif %}
