{% load portal_extras %}
<div class="location_popup">
    <div class="loc_directions">
        <div class="nav_single">
            <a class="btn nav_to_location" href="#" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})"><i class="icon-map-marker"></i> Directions</a>
        </div>
        <div class="nav_multi btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-map-marker"></i>
                Directions
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="nav_to_location" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})" data-navto="geolocated">From: Your Location</a></li>
                <li><a href="#" class="nav_to_location" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})" data-navto="geocoded">From: Address</a></li>
            </ul>
        </div>
    </div>

    <h2>{{ item.site_name }}</h2>

    <div class="loc_address">
      {{ item.address }}, {{ item.city }}, {{ item.state }} {{ item.zip }}
    </div>

    <div>
      {{ item.url|urlize }} {{ item.email|urlize }}
    </div>

    {% if item.phone1 or model.phone2 or model.phone3 or model.fax %}
    <table class="loc_phone_table">
        <thead>
            <tr>
                {% if item.phone1 %}
                <td>Main Phone</td>
                {% if item.phone2 %}
                <td>Alt. Phone</td>
                {% if item.phone3 %}
                <td>Alt. Phone</td>
                {% endif %}
                {% endif %}
                {% endif %}
                {% if item.fax %}
                <td>Fax</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if item.phone1 %}
                <td>{{ item.phone1|nicephone }}</td>
                {% if item.phone2 %}
                <td>{{ item.phone2|nicephone }}</td>
                {% if item.phone3 %}
                <td>{{ item.phone3|nicephone }}</td>
                {% endif %}
                {% endif %}
                {% endif %}
                {% if item.fax %}
                <td>{{ item.fax|nicephone }}</td>
                {% endif %}
            </tr>    
        </tbody>
    </table>
    {% endif %}

    <div class="loc_moreinfo">
        <a href="/location/{{ item.id }}" class="btn btn-large">More Info</a>
    </div>

    <div>
        <input type="checkbox" name="loc_cmp" id="loc_cmp"/>
        <label for="loc_cmp">Select for comparison</label>
    </div>
</div>
