{% load portal_extras %}
{% if is_popup %}<div class="location_item">{% endif %}

<h4>{{ item.site_name }}&nbsp;&nbsp;<a href="/location/{{ item.id }}/" class="btn btn-mini" target="_blank">Permalink</a></h4>

    <div class="loc_address">
      {{ item.address }}, {{ item.city }}, {{ item.state }} {{ item.zip }}
    </div>

    <div class="loc_rating">
        <!-- href anchor matches settings in django.faq -->
        <a href="/faq.html#topic2-7" data-content="Eventually, every early learning program in Chicago will receive a rating out of five stars.  These stars will indicate program quality at a glance.  The stars are not filled in yet because the rating system is still under development at the state level.  (At this time, empty stars do not mean that a program did not or will not receive any stars.)" data-title="Ratings" data-trigger="hover" data-placement="right">
            <i class="icon-star-empty"></i>
            <i class="icon-star-empty"></i>
            <i class="icon-star-empty"></i>
            <i class="icon-star-empty"></i>
            <i class="icon-star-empty"></i>&nbsp;&nbsp;
            <span class="star-notice gmnoprint">What Is This?</span>
        </a>
    </div>
	<br><br>
    {% if item.accred %}
    <div class="loc_accred">
        <i class="icon-ok"></i>&nbsp;Accreditation: {{ item.accred }}
	    <br>
    </div>
    {% endif %}

    <div id="loc_links">
      {{ item.url|urlize|url_target_blank}} <br>
      {{ item.email|urlize }}
    </div>

    {% if item.phone1 or item.phone2 or item.phone3 or item.fax %}
    <div class="{% if not is_popup %}{% cycle 'textrow1' 'textrow2' as bgcolor %}{% endif %}">
    <table class="loc_phone_table">
        <thead>
            <tr>
                {% if item.phone1 %}
                <td>Main Phone</td>
                <!--
                {% if item.phone2 %}
                <td>Alt. Phone</td>
                {% if item.phone3 %}
                <td>Alt. Phone</td>
                {% endif %}
                {% endif %}
                -->
                {% endif %}
                {% if item.fax %}
                <td>Fax</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if item.phone1 %}
                <td>{{ item.phone1|nicephone }}</td>
                <!--
                {% if item.phone2 %}
                <td>{{ item.phone2|nicephone }}</td>
                {% if item.phone3 %}
                <td>{{ item.phone3|nicephone }}</td>
                {% endif %}
                {% endif %}
                -->
                {% endif %}
                {% if item.fax %}
                <td>{{ item.fax|nicephone }}</td>
                {% endif %}
            </tr>    
        </tbody>
    </table>
    </div>
    {% endif %}

{% if is_popup %}
    <div class="loc_directions gmnoprint">
        <div class="nav_single" id="directions-button">
            <a class="btn btn-primary nav_to_location" href="#" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})"><i class="icon-map-marker icon-white"></i> Directions</a>
        </div>
        <div class="nav_multi btn-group">
            <a class="btn btn-proimary dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-map-marker icon-white"></i>
                Directions
                <i class="icon-chevron-right"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="nav_to_location" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})" data-navto="geolocated">From: Your Location</a></li>
                <li><a href="#" class="nav_to_location" data-coords="({{ item.geom.coords.1 }}, {{ item.geom.coords.0 }})" data-navto="geocoded">From: Address</a></li>
            </ul>
        </div>
    </div>

    <div class="loc_moreinfo gmnoprint">
        <a href="/location/{{ item.id }}" class="btn btn-warning" data-id="{{ item.id }}"><i class="icon-plus icon-white"></i> More Info</a>
    </div>
</div>
{% endif %}
