{% extends "base-search.html" %}

{% load i18n %}
{% load staticfiles %}
{% load portal_extras %}

{% block title %}{% trans "Compare and Apply" %} - {% trans "Chicago Early Learning" %}{% endblock %}

{% block otherhead %}
{% endblock %}

{% block content %}
<!-- Favorites top bar -->
<div class="starred-container">
    <div class="contact-text">
        <h1>{% trans "Compare and Apply" %}</h1>
        <p><em>{% blocktrans %}The application is still open for the 2016 – 2017 school year. The application for the 2017 – 2018 school year will open May 2017.{% endblocktrans %}</em></p>
        
        <p>{% blocktrans %}Compare early learning programs side-by-side to select the highest quality option for your child. Add more programs by going back to your search results.{% endblocktrans %}</p>

        <p>{% blocktrans %}Press the "Apply" button to build your Chicago Early Learning parent profile and complete an application. You will be able to view your preliminary placement or waitlist status for the sites indicated below, and may submit an application for up to two of your site preferences (one placement and one waitlist).{% endblocktrans %}</p>

        <p>{% blocktrans %}Call the Chicago Early Learning Hotline at <a href="tel:3122291690">(312) 229-1690</a> if you would like assistance completing the application over the phone.{% endblocktrans %}</p>

        <p>{% blocktrans %}If you are looking to enroll in a program immediately or have a child that will not yet be 3 years old in the Fall, please contact the early childhood program directly.{% endblocktrans %}</p>

        <p>{% blocktrans %}Press “Back to Search" to add more locations you are interested in.{% endblocktrans %}</p>

    </div>

    <div class="starred-actions">

        <div id="alert-six" class="alert alert-block alert-six">
            <p>{% blocktrans %}Please select no more than 6 locations to continue to the application process. Compare your favorites below to pick the best options for your family.{% endblocktrans %}</p>
        </div>

        <div class="contact-button">
            <a href="" target="_blank" id="faves-contact" class="btn faves-option btn-apply btn-block hint--bottom ga-track" data-ga-category="starred" data-ga-action="Contact Favorites"><i class="fa fa-check-circle"></i> {% trans "Apply" %}</a>
        </div>

        <div class="other-buttons">
            <div class="share-button">
                <a id="faves-share" class="btn btn-block faves-option hint--bottom ga-track" href="#" data-ga-category="starred" data-ga-action="Share Favorites"><i class="icon-share"></i> {% trans "Share" %}</a>
            </div>
            <div class="clear-button">
                <a id="faves-clear" class="btn btn-block faves-option ga-track" href='{% url "browse" %}' data-ga-category="starred" data-ga-action="Clear Selections"><i class="icon-remove-circle"></i> {% trans "Clear Selections" %}</a>
            </div>
            <div class="return-button">
                <button class="btn btn-block faves-close faves-option" id="back-button"><i class="icon-arrow-left" ></i> {% trans "Back to Search" %}</button>
            </div>
        </div>
    </div>

    <!-- Favorite list -->
    <div class="faves-table" id="one">
        <table>
            <thead>    
                <tr>    
                    <th>Site Info</th>
                    <th>Ages</th>
                    <th>Seats</th>
                    <th>Duration</th>
                    <th>Program Info</th>
                    <th>Accreditation</th>
                    <th>Apply</th>
                </tr>
            </thead>
            <tbody>
                <tr>   
                    <td>
                        <h1><a href="">North Avenue Day Nursery</a></h1>
                        <p>Address Line</p>
                        <p>Chicago, IL Zip</p> 
                        <p>7:00am-5:45pm</p>
                        <p><a href="">312-555-555</a></p>
                        <p><a href="">Website &#x2197;</a></p>
                    </td>
                    <td>
                        <p><i class="icon-ok"></i> 0 - 3</p>
                        <p><i class="icon-ok"></i> 3 - 5</p>
                    </td>
                    <td>High</td>
                    <td>
                        <p>Full Day</p>
                        <p>School Year</p>
                    </td>
                    <td>
                        <p>Community Based</p>
                        <p>Head Start</p>
                        <p>Early Head Start</p>
                        <p>Offers Spanish</p>
                    </td>
                    <td>
                        <p>NAEYC</p>
                        <p>QRIS Gold Rating</p>
                    </td>
                    <td>
                        <p><input type="checkbox" name=""></p>
                        <p><a href="" class="faves-close-button">&times;</a></p>
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <h1><a href="">Rodolfo Lozano Bilingual & International Center Elementary School</a></h1>
                        <p>Address Line</p>
                        <p>Chicago, IL Zip</p> 
                        <p>Site Hours</p>
                        <p><a href="">312-555-555</a></p>
                        <p><a href="">Website &#x2197;</a></p>
                    </td>
                    <td>
                        <p><i class="icon-cancel"></i> 0 - 3</p>
                        <p><i class="icon-ok"></i> 3 - 5</p>
                    </td>
                    <td>Medium</td>
                    <td>
                        <p>Part Day</p>
                        <p>Full Day</p>
                        <p>School Year</p>
                        <p>Full Year</p>
                    </td>
                    <td>
                        <p>CPS Based</p>
                        <p>Head Start</p>
                    </td>
                    <td>
                        <p>QRIS Gold Rated</p>
                    </td>
                    <td>
                        <p><input type="checkbox" name=""></p>
                        <p><a href="" class="faves-close-button">&times;</a></p>
                    </td>
                </tr>
                <tr class="row-two">
                    <td>
                        <h1><a href="">Christopher Columbus Elementary School</a></h1>
                        <p>Address Line</p>
                        <p>Chicago, IL Zip</p> 
                        <p>Site Hours</p>
                        <p><a href="">312-555-555</a></p>
                        <p><a href="">Website &#x2197;</a></p>
                    </td>
                    <td>
                        <p><i class="icon-cancel"></i> 0 - 3</p>
                        <p><i class="icon-ok"></i> 3 - 5</p>
                    </td>
                    <td>Low</td>
                    <td>
                        <p>Part Day</p>
                        <p>Full Year</p>
                    </td>
                    <td>
                        <p>Offers Chinese (Simplified), Chinese (Traditional), Mandarin and Cantonese</p>
                    </td>
                    <td>
                        <p>QRIS Gold Rated</p>
                    </td>
                    <td>
                        <p><input type="checkbox" name=""></p>
                        <p><a href="" class="faves-close-button">&times;</a></p>
                    </td>   
                </tr>
                <tr>
                    <td>
                        <h1><a href="">Generic School Entry</a></h1>
                        <p>Address Line</p>
                        <p>Chicago, IL Zip</p> 
                        <p>Site Hours</p>
                        <p><a href="">312-555-555</a></p>
                        <p><a href="">Website &#x2197;</a></p>
                    </td>
                    <td>
                        <p><i class="icon-cancel"></i> 0 - 3</p>
                        <p><i class="icon-ok"></i> 3 - 5</p>
                    </td>
                    <td>
                        <p>High</p>
                        <p>Medium</p>
                        <p>Low</p>
                    </td>
                    <td>
                        <p>Part Day</p>
                        <p>Full Day</p>
                        <p>School Year</p>
                        <p>Full Year</p>
                    </td>
                    <td>
                        <p>CPS-Based</p>
                        <p>Head Start</p>
                        <p>Early Head Start</p>
                        <p>Accepts CCAP</p>
                        <p>Home Visiting</p>
                        <p>Offers Spanish, Polish, Philipino (Tagalog)</p>
                    </td>
                    <td>
                        <p>NYAEC</p>
                        <p>QRIS Licensed</p>
                    </td>
                    <td>
                        <p><input type="checkbox" name=""></p>
                        <p><a href="" class="faves-close-button">&times;</a></p>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-one-faves">
    </div>

    <h4 id="non-ecm-header" style="display:none">The following sites do not have online enrollment. Contact these sites directly to apply.</h4>
    <div class="container-two-faves">
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
require(['pages/starred'], function() { });

</script>
{% endblock %}

{% block footer %}
<!-- No footer on Starred page --> 
{% endblock %}