/* --- Base --- */
body {
  background-color: $background-gray;
}

a {}
/* --- Blocks --- */

.box {
  color: $white;
  padding: 15px;
  @include border-radius(2px);
}

.box-orange {
  background-color: $orange;
}

