/* --- Base --- */
body {
  background-color: $background-gray;
  font-family: $montserrat;

  .body {
    min-height: 60em;
  }
}

/* --- Text Styling --- */
.blue-text {
  color: $blue;
}

.green-text {
  color: $green;
}

.yellow-text {
  color: $yellow;
}

.orange-text {
  color: $orange;
}


/* --- Blocks --- */

.block {
  margin-bottom: 30px;
}

.box {
  color: $white;
  padding: 15px;
  @include border-radius(2px);
}

.box-orange {
  background-color: $orange;
}

