#blog-header {

  .header-image {
    background-image: url("../img/static-pages/resources-header.jpeg");
    background-size: 140%;
    background-position: 30% 30%;
    background-repeat: no-repeat;
  }
}