.btn {
  padding-bottom: 5px;
}

.btn-lg {
  padding-bottom: 12px;
}

.btn-half {
  width: 50%;
}

.btn-orange {
  @include primary-variant($white, $orange, $deep-orange);
}

.btn-blue {
  @include primary-variant($white, $blue, $deep-blue);
}

.btn-green {
  @include primary-variant($white, $green, $deep-green);
}

.btn-yellow {
  @include primary-variant($white, $yellow, $deep-yellow);
}

.btn-gray {
  @include primary-variant($dark-gray, $light-gray, darken($light-gray, 20%));
}

.btn-clear {
  transition: 0s;
  padding: .5em 2em;
  background-color: inherit;
  border: 1px solid $white !important;
  color: $white !important;
  @include border-radius(2px);
  
  &:hover {
    transition: 0s;
    color: $white;
    background-color: rgba(0, 0, 0, 0.07)
  }
  &:active {}

}