.blue {
  color: $blue !important;
}

.green {
  color: $green !important;
}

.yellow {
  color: $yellow !important;
}

.orange {
  color: $orange !important;
}

.light-blue {
  color: $light-blue !important;
}

.light-green {
  color: $light-green !important;
}

.light-yellow {
  color: $light-yellow !important;
}

.light-orange {
  color: $light-orange !important;
}

.deep-blue {
  color: $deep-blue !important;
}

.deep-green {
  color: $deep-green !important;
}

.deep-yellow {
  color: $deep-yellow !important;
}

.deep-orange {
  color: $deep-orange !important;
}

.white {
  color: $white !important;
}

.gray {
  color: $gray !important;
}

.dark-gray {
  color: $dark-gray !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-light-gray {
  background-color: $light-gray !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-orange {
  background-color: $orange !important;
}

.b-blue {
  border-color: $blue !important;
}

.b-green {
  border-color: $green !important;
}

.b-yellow {
  border-color: $yellow !important;
}

.b-orange {
  border-color: $orange !important;
}

.b-deep-blue {
  border-color: $deep-blue !important;
}

.b-deep-green {
  border-color: $deep-green !important;
}

.b-deep-yellow {
  border-color: $deep-yellow !important;
}

.b-deep-orange {
  border-color: $deep-orange !important;
}

.b-white {
  border-color: $white !important;
}

.b-light-gray {
  border-color: $light-gray !important;
}