.blue {
  color: $blue;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

.bg-light-gray {
  background-color: $light-gray;  
}