@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

@font-face {
  font-family: 'Chalkduster';
  src: url('../font/chalkduster/Chalkduster.eot') format('embedded-opentype');
  src: url('../font/chalkduster/Chalkduster.ttf') format('truetype');
  src: url('../font/chalkduster/Chalkduster.woff') format('woff');
}