 /* -- Header -- */
#index-header {
  $height: 30em;
  height: $height;
  margin-bottom: -3em;

  .curve-header {
    height: 3*$height;
    background-image: url("../img/scientist-girl.jpg");
    background-position: 50% (2*$height);
    margin-bottom: -3em;
  }

  .header-title {
    top: -(3*$height)+3em;
    height: $height;
    margin-bottom: -3em;
  }

  .index-header {
    padding-bottom: 2em;
    
    .header-content {

      h1 {
        font-size: 1em;
      }

      img {
        display: block;
        max-height: 4em;
        margin: auto;
      }
    }

    .index-form {
      padding-top: 1rem;
    }

    @media (max-width: $break-small) {
      .clear-padding-right {
        padding-right: 15px;
      }
    }
  }
}


/* -- Intro Block -- */
#index-intro {
  .intro {
    height: 10em;

    p {
      font-size: .9em;
      font-weight: 400;
    }
  }
}

/* -- Content Blocks General -- */
.index-section-block {
  $block-height: 20em;

  .index-info-block {
    height: $block-height;
    display: inline-flex;
    flex-direction: column;

    .index-sub-block {
      flex-grow: 2;
      display: inline-flex;
      flex-direction: column;

      .sub-block-content {
        width: 90%;
        margin: auto !important;

        h1 {
          padding: 0;
          font-size: 1.5em;
        }
      }
    }
  }

  h1 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0;
    padding: .5em 0;
  }

  p {
    padding: 1em 0;
    margin-bottom: 0;
  }
}

/* -- Update Block -- */
#index-update {

  .full-width-header {
    margin-left: -15px;
    margin-right: -15px;
  }

  #update-content {
    background-color: $orange;
    #update-content-header {
      background-color: $light-orange;
    }
  }

  #update-announcement {
    background-color: $blue;
    #update-announcement-header {
      background-color: $light-blue;
    }
  }


  #update-image {
    background-color: black;
  }
}


/* -- Programs Block -- */
#index-programs {

  #programs-image {
    background-color: black;
  }

  #programs-content {

  }
}


/* -- Application Block -- */
#index-application {
  #application-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .application-youtube {
      padding-top: 15px;
      padding-bottom: 15px;

      .application-youtube-embed {
        margin: auto !important;
        width: 90%;
      }

      .application-video-title {
        width: 90%;
        margin: auto !important;

        h2 {
          padding: 0;
          font-size: 1.25em;
        }
      }
    }
  }
}


/* -- Resources Block -- */
#index-resources {
  background-color: black;
}


/* -- News Block -- */
#index-news {
  padding-top: 4em;
  padding-bottom: 4em;

  .news-content {
    padding: 1em 2em;

    h1 {
      font-size: 1.25em;
      font-weight: 500;
      padding: 1em 0;
      margin-bottom: 0;
    }

    a {
      font-weight: 500;
    }

    img {
      height: 14em;
      width: 100%;
      background-color: black;
    }
  }
}


/* -- Subscribe Block -- */
#index-subscribe {
  font-size: 1.5em;
  font-weight: 500;

  .subscribe-row {
    padding-top: 4em;
    padding-bottom: 4em;

    p {
      margin-bottom: 0rem;
      color: $dark-gray;
    }

    .subscribe-image img {
      height: 5em;
      width: 8em;
      background-color: black;
    }
  }
}
