/* -- Header -- */
#index-header {
  $height: 40em;
  height: $height;
  margin-bottom: -4em;

  .curve-header {
    height: 3*$height;
    background-image: url("../img/scientist-girl.jpg");
    background-position: 50% (2*$height);
    margin-bottom: -4em;
  }

  .header-title {
    top: -(3*$height)+4em;
    height: $height;
    margin-bottom: -4em;
  }

  h1 {
    font-size: 3em;
  }
}


/* -- Intro Block -- */
#index-intro {
  .intro {
    height: 10em;

    p {
      font-weight: 400;
    }
  }
}

/* -- Content Blocks General -- */
.index-section-block {
  display: flex;
  height: 30em;

  .index-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .index-sub-block {
      width: 75%;
    }
  }

  h1 {
    font-size: 2.5em;
    font-weight: 400;
  }

  p {
    padding: 1em 0;
  }
}

/* -- Update Block -- */
#index-update {

  #update-content {
    justify-content: space-bewteen;
    background-color: $orange;
    padding-left: 0;
    padding-right: 0;

    .update-tag {
      padding: 1em;
      background-color: $light-orange;

      h1 { 
        font-size: 1.25em;
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    .update-text {
      height: 24em;
      padding-left: 15px;
      padding-right: 15px;

      h1 {
        font-size: 2em;
      }
    }
  }

  #update-image {
    background-color: black;
  }
}


/* -- Programs Block -- */
#index-programs {

  #programs-image {
    background-color: black;
  }

  #programs-content {

  }
}


/* -- Application Block -- */
#index-application {

}


/* -- Resources Block -- */
#index-resources {
  background-color: black;
}


/* -- News Block -- */
#index-news {
  padding-top: 4em;
  padding-bottom: 4em;

  .news-content {
    padding: 1em 2em;

    h1 {
      font-size: 1.5em;
      font-weight: 500;
      padding: 1em 0;
      margin-bottom: 0;
    }

    a {
      font-weight: 500;
    }

    img {
      height: 14em;
      width: 100%;
      background-color: black;
    }
  }
}


/* -- Subscribe Block -- */
#index-subscribe {
  font-size: 1.5em;
  font-weight: 500;

  .subscribe-row {
    padding-top: 4em;
    padding-bottom: 4em;

    p {
      margin-bottom: 0rem;
      color: $dark-gray;
    }
  }
}
