a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  .btn-clear {

  }
}

.link-svg-white svg {
  fill: $white;

  &:hover {
    fill: rgba(255, 255 , 255, 0.5);
  }
}

.a-blue {
  @include link-variant($blue, $deep-blue);
}

.a-green {
  @include link-variant($green, $deep-green);
}

.a-orange {
  @include link-variant($orange, $deep-orange);
}

.a-yellow {
  @include link-variant($yellow, $deep-yellow);
}

.a-black-orange {
  @include link-variant($black, $orange);
}

.a-white {
  @include link-variant($white, $white-opaque);
}

.a-white-underline {
  @include link-variant($white, $white-opaque);
  text-decoration: underline;
  &:hover {text-decoration: underline;}
}