.cel-icon {
  text-align: center;
  font-size: 2rem;
  line-height: 50px;
  font-family: $montserrat;
  color: $white;
}

.copa-location-icon {
  background-image: url('../img/map-icons/2x/CPS/high.png');
  background-size: cover;
  background-repeat: none;
}

.non-copa-location-icon {
  background-image: url('../img/map-icons/2x/CPS/low.png');
  background-size: cover;
  background-repeat: none;
}