.cel-icon {
  text-align: center;
  font-size: 2rem;
  line-height: 50px;
  font-family: $montserrat;
  color: $white;
}

.copa-location-icon {
  background: $blue;
}

.non-copa-location-icon {
  background: $orange;
}