/* --- Global Nav --- */

.navbar-top {
  font-size: .8em;

  .nav-link {
    padding: .25em 0;
  }

  #phone-svg {
    margin-right: .5em;
  }

  #arrow-svg {
    margin-left: .5em;
  }
}

.navbar-bottom {
  background-color: $white;
  padding: 1em 1em;

  .nav-logo {
    position: absolute;

     .navbar-brand {
      padding-top: 0;
      height: 2em;

      img {
        height: 2em;
      }
    }
  }

  .nav-content {

    line-height: 2em;
    font-size: .8em;
    vertical-align: center;

    .nav-item {
      .nav-active {
        border-radius: 0;
        color: $deep-blue;
        border-bottom: 3px solid $deep-blue;

        &:hover {
          color: $blue;
          border-bottom: 3px solid $blue;
        }
      }
    }

    .apply-button a {
      margin-left: 1em; 
      width: 7em;
      font-size: 1.1em;
    }
  }
}