/* -- General Resources -- */

h1 { font-size: 2.25rem; }
h2 { font-size: 1.5rem; }
h3, h4 { font-size: 1.25rem; }

.category-block {

  .resources-category {
    padding: 2em 0;
  }

  .resource {
    padding: 2em 0;
    border-top: 2px solid $faint-gray;

    h2 {
      color: $blue;
    }

    a {
      font-style: italic;
    }
  }
}

/* -- Header -- */
$height: 20em;

#resources-header {

  .header-image {
    background-image: url("../img/static-pages/resources-header.jpeg");
    background-size: 140%;
    background-position: 30% 30%;
    background-repeat: no-repeat;
  }
}

#resources-intro {}