.svg-blue {
  @include svg-variant($blue);
}

.svg-green {
  @include svg-variant($green);
}

.svg-orange {
  @include svg-variant($orange);
}

.svg-yellow {
  @include svg-variant($yellow);
}

.svg-black {
  @include svg-variant($black);
}

.svg-gray {
  @include svg-variant($gray)
}

.svg-light-gray {
  @include svg-variant($light-gray)
}

.svg-white {
  @include svg-variant($white);
}


/* -- -- */

.inline-link-svg {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;

  svg {
    vertical-align: top;
    height: 1.5em;
    width: 1.5em;
  }
}