/* Custom fonts ============================================================== */

@font-face {
    font-family: 'Bariol Bold';
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bariol';
    src: url('../fonts/bariol_regular-webfont.eot');
    src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_regular-webfont.woff') format('woff'),
         url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('../fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Nav and subnav styling overrides =========================================== */

#address-modal .modal-header h3 {
  font-family: "Bariol";
  color: #29ABE2;
  font-size: 22px;
}

#address-modal .modal-body p {
  text-align: justify;
}

#address-modal .modal-footer {
  background-color: #29ABE2;
  padding: 20px 15px 8px 0px;
}

img.intro {
  float: right;
  width: 40%;
  padding-left: 33px;
}

#top {
  width: 100%;
  height: 3px;
  background-color: #F4C121;
  top: 0;
  left: 0;
  position: fixed;
}

#logoImage {
  margin-right: 7px;
}

.navbar .brand {
  color: #fff;
  font-family: "Bariol Bold";
  padding: 11px 20px 12px;
}

.navbar .nav > li > a {
  color: #fff;
  font-family: "Bariol Bold";
  font-size: 14px;
  padding-top: 12px;
}
.navbar .nav > li > a:hover {
  color: #F4C121;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #F4C121;
  background: none;
  text-decoration: none;
}

.navbar-inner {
  min-height: 48px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #29ABE2, #0071BC);
  background-image: -ms-linear-gradient(top, #29ABE2, #0071BC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29ABE2), to(#0071BC));
  background-image: -webkit-linear-gradient(top, #29ABE2, #0071BC);
  background-image: -o-linear-gradient(top, #29ABE2, #0071BC);
  background-image: linear-gradient(top, #29ABE2, #0071BC);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#29ABE2', endColorstr='#0071BC', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.geolocate {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #2C4489;
  margin-top: -1px
}

.subnav .container {
  width: 1170px;
}

#search-radius {
  margin-top: -2px
}

#menu-search {
  margin-top: -1px;
}

h1.static-title {
  font-family: "Bariol";
  color: #29ABE2;
  padding: 40px 0 25px 0;
  font-weight: normal;
}

h2.question {
  font-family: "Bariol Bold";
  color: #29ABE2;
  padding: 15px 0 10px 0;
  font-weight: normal;
  line-height: 26px;
}

.partner {
  max-width: 135px;
  max-height: 135px;
  float: left;
  vertical-align: middle;
}

.table th, .table td {
  padding: 30px;
}

.container a:hover {
  text-decoration: none;
}

#address-start {
  float: left;
  padding: 7px 0 10px 22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#filter-toggle {
  position: fixed;
  border: 1px solid #062F86;
  margin: 12px 0 0 200px;
  top: 7em;
  left: -8em;
}

.popover {
    left: 81px;
    top: 138px;
}
.popover.bottom .arrow {
    left: 31px;
}
.popover-inner {
  border-radius: 0px;
  -moz-border-radius: 0px;
  background: #fff;
  border: 1px solid #c2c2c2;
}

.popover-title {
  background: #fff;
  border: none;
}

#compare-box {
  position: fixed;
  min-height: 150px;
  width: 355px;
  background: url(../images/compare-bg.png) repeat;
  z-index: 9999;
  right: 0;
  top: 140px
}

.container .location {
    width: 50%;
    float: left;
}

#compare-modal {
    width: 90%;
    margin: 0 auto;
    top: 10%;
    left: 5%;
}

#compare-modal .modal-body {
    max-height: 600px;
}

.container > table, #compare-modal .modal-body > table {
    width: 100%;
    padding: 0.5em;
}

table.compare-table td {
    padding: 0 0.5em;
    width: 50%;
}

#text-info-modal {
    z-index: 9000;  /* .popover z-index is 2060, we want this in front of everything */
}

.container .location h2 {
    margin-top: 3em;
    margin-bottom: 1em;
}

.loc_directions {
    float: left;
    margin: 0.75em;
}

.loc_directions .dropdown-menu {
    margin-left: 107px;
    margin-top: -57px;
}

.loc_moreinfo, .loc_lessinfo {
    float:right;
    margin: 0.75em;
}

.location_item {
    width: 30em;
    font-size: 90%;
}

.loc_address {
    margin-bottom: 0.75em;
}

.loc_address {
    color: #999999;
}

.compare-table .loc_phone_table {
    margin: 0.25em -0.5em;
}

.loc_phone_table thead {
    font-weight: bold;
}
.compare-table td .loc_phone_table td {
    padding: 0 0.5em;
    width: auto
}

.loc_waitlist {
    border: 1px solid black;
    background-color: #eeeeee;
    padding: 1em;
    margin: 1em 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}

.loc_simplefield {
    padding-bottom: 0.25em;
    vertical-align: top;
}


.subnav {
    background-color: #005182;
    height: 50px;
    width: 100%;
    font-size: 14px;
}
.subnav-fixed {
    border-color: #999999;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1020;
}
.subnav .container {
    width: 1170px;
    margin-top: 8px;
}
.subnav .nav > li {
    display: block;
    float: left;
    margin-top: 5px;
}
.subnav .nav > li > a {
    border-radius: 0 0 0 0;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
    line-height: 14px;
    padding-left: 12px;
    padding-right: 12px;
    color: #dddddd;
    float: left;
    height: 14px;
}
.subnav .nav > li > a:hover {
    color: #eeeeee;
    background-color: #0B5C8D;
}
.subnav .nav > li > a > i {
    margin: 2px;
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
}
.subnav .nav {
    margin-bottom: 0;
    display: block;
    left: 0;
    position: relative;
}
.subnav .nav.pull-right {
    margin-left: 10px;
    margin-right: 0;
    float: right;
}
.subnav .navbar-search .search-query {
    color: #000;
    background-color: #fff;
    border-color: #2C4489;
    font-size: 14px;
}
.subnav .navbar-search input.search-query {
    padding: 4px 9px;
    margin: -2px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #2C4489;
    margin-top: -5px;
}
.subnav .navbar-search select.search-query {
    padding: 2px 9px;
    margin: 0 12px;
    width: 8em;
    height: 28px;
    border-radius: 3px;
}
.subnav .navbar-search .search-query:focus {
  background-color: #fff;
  border-color: #F4C121;
  color: #000;
}
.subnav .navbar-search select.search-query option {
    border-style: none;
    border-radius: 0;
    font-size: 14px;
}

#map-container { 
    position: absolute;
    left: 0;
    right: 0;
    top: 7.7em;
    bottom: 0;
}
#map-container.show-directions, #compare-box.show-directions {
    right: 305px;
}
#map-container.hide-directions, #compare-box.hide-directions {
    right: 0;
}
.hidden-phone.address-input {
    width: 450px;
    margin-right: 12px;
}
.visible-phone.address-input {
    width: 95%;
}
#map { height: 100%; }
#map img { max-width: none; }
#filter-selection {
    display: none;
}
.filter-label {
    display: inline;
}
.hidden-phone.directions { 
    position: absolute;
    right: 0;
    top: 7.7em;
    bottom: 0;
    width: 300px;
    overflow-y: scroll;
}
.visible-phone.directions {
    position: absolute;
    left: 0;
    right: 0;
    top: 6.7em;
    bottom: 0;
    background-color: #ffffff;
}
.d_step {
    margin: 1em auto;
}
.d_instr {
}
.d_dist {
    padding-left: 1em;
}
/* fake star ratings */
.loc_rating {
    float: right;
    margin-right: 1em;
}
.star-notice {
    color: #999999;
}

.textrow1 {
    background-color: #f6f6f6;
}
.textrow2 {
}
.clear_dir {
    margin: 0.25em;
}
