/* Custom fonts ============================================================== */

@font-face {
    font-family: 'Bariol Bold';
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bariol';
    src: url('../fonts/bariol_regular-webfont.eot');
    src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_regular-webfont.woff') format('woff'),
         url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('../fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Nav and subnav styling overrides =========================================== */

#address-modal .modal-header h3 {
  font-family: "Bariol";
  color: #29ABE2;
  font-size: 22px;
}

#address-modal .modal-body p {
  text-align: justify;
}

#address-modal .modal-footer {
  background-color: #29ABE2;
  padding: 20px 15px 8px 0px;
}

img.intro {
  float: right;
  width: 40%;
  padding-left: 33px;
}

#top {
  width: 100%;
  height: 3px;
  background-color: #F4C121;
  top: 0;
  left: 0;
  position: fixed;
}

#logoImage {
  margin-right: 7px;
}

.navbar .brand {
  color: #fff;
  font-family: "Bariol Bold";
  padding: 11px 20px 12px;
}

.navbar .nav > li > a {
  color: #fff;
  font-family: "Bariol Bold";
  font-size: 14px;
  padding-top: 12px;
}
.navbar .nav > li > a:hover {
  color: #F4C121;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #F4C121;
  background: none;
  text-decoration: none;
}

.navbar-inner {
  min-height: 48px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #29ABE2, #0071BC);
  background-image: -ms-linear-gradient(top, #29ABE2, #0071BC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29ABE2), to(#0071BC));
  background-image: -webkit-linear-gradient(top, #29ABE2, #0071BC);
  background-image: -o-linear-gradient(top, #29ABE2, #0071BC);
  background-image: linear-gradient(top, #29ABE2, #0071BC);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#29ABE2', endColorstr='#0071BC', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-search .search-query {
  background-color: #fff;
  border-color: #2C4489;
}

.subnav .navbar-search .search-query:focus {
  background-color: #fff;
  border-color: #F4C121;
  color: #000;
}

.subnav .container #search-address {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.geolocate {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #2C4489;
  margin-top: -1px
}

.subnav .container {
  width: 1170px;
}

#radius {
  margin-top: -2px
}

#menu-search {
  margin-top: -1px;
}

h1.static-title {
  font-family: "Bariol";
  color: #29ABE2;
  padding: 40px 0 25px 0;
  font-weight: normal;
}

h2.question {
  font-family: "Bariol Bold";
  color: #29ABE2;
  padding: 15px 0 10px 0;
  font-weight: normal;
  line-height: 26px;
}

.partner {
  max-width: 135px;
  max-height: 135px;
  float: left;
  vertical-align: middle;
}

.table th, .table td {
  padding: 30px;
}

.container a:hover {
  text-decoration: none;
}

#address-start {
  float: left;
  padding: 7px 0 10px 22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
