body {
    overflow-y: auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

    .faq-left {
        float: left;
        width: 320px;
        position: fixed;
        margin-top: 61px;
        border-right: 1px solid #eee;
    }
        .faq-left h1 {
            padding: 12px;
        }
        .faq-left a {
            font-family: "Roboto", Helvetica, Arial, sans-serif;
            margin-bottom: 10px;
        }
    .faq-right {
        width:600px;
        float: right;
        margin-top: 80px;
    }
        .faq-right p {
            font-size: 16px;
            line-height: 1.7;
        }
        .faq-right h1 {
            font-size: 20px;
            line-height: 20px;
            padding-bottom: 12px;
            color: rgb(63, 116, 151);
        }
        .faq-right h2 {
            font-size: 18px;
            line-height: 16px;
            padding-top: 15px;
            color: rgb(124, 149, 165);
        }

.faq-section {
    padding-top: 50px;
}

.logos-container p {
    text-align: justify;
}
.logos-container img {
    padding-left: 40px;
}