/* Homepage ------------------------ */

body {
	overflow-y: scroll !important;

}



.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	margin-top: 61px;
	color: #fff;
}
.jumbotron {
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #c2c2c2;
	background: url(../img/banner.jpg);
}
.container-custom {
	width: 970px;
	margin: 0 auto;
}
#featurettes {
	margin-top: 85px;
}
	#featurettes hr {
		margin-top: 60px;
		padding-bottom: 50px;
	}
.jumbotron .get-started {
	padding: 20px 50px;
	box-shadow: none;
	border: none;
	background: #b54747;
	color: #fff;
	text-shadow: none;
	border-radius: 4px;
	transition: 0.3s;
	border-bottom: 3px solid rgb(128, 36, 36);
} 
.jumbotron .get-started:hover {
	background-color: #bb5959;
	transition: 0.3s;
}
.jumbotron .get-started:active {
	box-shadow: inset 1px 2px 5px 1px rgb(128, 36, 36);;
	transition: 0s;
}
.jumbotron p {
	margin-bottom: 50px;
}

input.homepage-search {
	padding: 20px;
	margin-top: 9px;
	border: none;
	font-size: 18px;
	margin-right: 10px;
	width: 400px;
	text-shadow: none;
}

.intro-choice {
	margin-left: 20px;
	margin-right: 17px;
}