@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700);


/* Homepage ------------------------ */
body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

input {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-family: filson-soft, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.btn {
    font-family: filson-soft, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.masthead {
    padding: 70px 0 20px;
    margin-bottom: 0;
    margin-top: 100px;
    color: #fff;
}

.jumbotron {
    position: relative;
    padding-top: 20px;
    color: white;
    background: url(/static/img/scientist-girl.jpg) left top no-repeat #eee;
    background-size: cover;
}

.jumbotron a,
.announcement-mobile a {
    color: #fff04a;
}
.jumbotron a:hover,
.announcement-mobile a:hover {
    color: #ffc104;
    text-decoration: none;
}

.container-custom {
    width: 970px;
    margin: 20px auto;
}

    
.masthead-content {
    width: 65%;
}

#featurettes .media img {
	border: 1px solid #c2c2c2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow:	none;
	-moz-box-shadow: none;
	box-shadow:	none;
}

#featurettes hr {
    margin: 40px 0;
}

#featurettes .ready-to-learn {
    background-color: #ffd;
    border: 1px dashed #ccc;
    padding: 20px;
    font-size: 16px;
    line-height: 1.4em;
    margin: 40px 0 30px;
}

#featurettes .ready-to-learn p {
margin: 0;
}

#featurettes .ready-to-learn img {
    width: 300px;
    margin-right: 20px;
}

.jumbotron .get-started,
.get-started {
    padding: 20px 35px;
    box-shadow: none;
    border: none;
    background: #b54747;
    color: #fff;
    text-shadow: none;
    border-radius: 4px;
    transition: 0.3s;
    border-bottom: 3px solid rgb(128, 36, 36);
} 
.jumbotron .get-started:hover,
.get-started:hover {
    background-color: #bb5959;
    transition: 0.3s;
}
.jumbotron .get-started:active,
.get-started:active {
    box-shadow: inset 1px 2px 5px 1px rgb(128, 36, 36);;
    transition: 0s;
}
.jumbotron p {
    margin: 25px 0;
    font-size: 14px;
    line-height: 1.4;
}

.search {
    width: 65%;
    display: inline-block;
}

.search-input {
    width: 100%;
    display: inline-block;
}

input.homepage-search {
    padding: 19px;
    border: none;
    font-size: 18px;
    width: 69%;
    margin-right: 6px;
    text-shadow: none;
    border: 1px solid #c2c2c2;
}

.intro-choice {
    margin-left: 20px;
    margin-right: 17px;
}

.info-buckets {
    margin: 0 0 40px 0;
    padding: 0;
}

.info-buckets h2 {
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 0;
}

.info-buckets p {
    margin: 5px 0 5px;
}

.bucket {
}

.bucket-img {
    max-height: 200px;
    overflow: hidden;
}

.bucket-img img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto !important;
    width: auto\9;
}

.three {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.two {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


/* Announcement */
.announcement {
    color: white;
    background-color: rgba(32,34,34,0.6);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
.announcement strong { color: #ffd; }

.announcement h3 {
        font-size: 18px;
        line-height: 1.2em;
        margin-top: 0;
        margin-bottom: 0;
        color: #ffd;
    }

.announcement p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

.announcement-mobile {
    display: none;
    background: #424142;
    color: white;
    font-weight: normal;
    padding: 10px;
}

.announcement-mobile p {
    margin-top: 5px;
    margin-bottom: 5px;
}
 

.error-message {
    vertical-align: top;
    color: white;
    background-color: #bd362f;
    opacity: 0.85;
    height: 130px;
    margin-left: 4px;
    width: 33%;
    display: inline-block;
    visibility: hidden;
}

.error-message-body {
    padding: 8px;
}

.error-message p {
    margin-top: 5px;
    margin-bottom: 0;
}

.error-message h3 {
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    #homepage-logo-small { display: none; }
    #homepage-logo-large { display: inline; }
}

@media (max-width: 1023px) {
    #homepage-logo-small { display: inline; }
    #homepage-logo-large { display: none; }
}