/* Homepage ------------------------ */

.masthead {
    padding: 70px 0 80px;
    margin-bottom: 0;
    margin-top: 61px;
    color: #fff;
}

.jumbotron {
    position: relative;
    padding: 60px 0 40px;
    color: white;
    background: url(../img/boylearn.jpg) right center no-repeat #eee;
    background-size: cover;
}

    .jumbotron a {
        color: #FFC;
        border-bottom: 1px dotted #FFC;
    }
    .jumbotron a:hover {
        color: #FF9;
        border-bottom: 1px dotted #FF9;
        text-decoration: none;
    }

.container-custom {
    width: 970px;
    margin: 0 auto;
}
    
    .masthead-content {
        width: 560px;
        max-width: 100%;
    }

	#featurettes .media img {
		border: 1px solid #c2c2c2;
		-webkit-border-radius: 4px;
		-moz-border-radius: 	 4px;
		border-radius: 			   4px;
		-webkit-box-shadow:		 none;
		-moz-box-shadow: 	     none;
		box-shadow:		 			   none;
	}
   #featurettes hr {
    margin: 40px 0;
  }

  #featurettes .ready-to-learn {
    background-color: #ffd;
    border: 1px dashed #ccc;
    padding: 20px;
    font-size: 16px;
    line-height: 1.4em;
    margin: 40px 0 30px;
  }

  #featurettes .ready-to-learn p {
    margin: 0;
  }

  #featurettes .ready-to-learn img {
    width: 300px;
    margin-right: 20px;
  }

.jumbotron .get-started,
.get-started {
    padding: 20px 35px;
    box-shadow: none;
    border: none;
    background: #b54747;
    color: #fff;
    text-shadow: none;
    border-radius: 4px;
    transition: 0.3s;
    border-bottom: 3px solid rgb(128, 36, 36);
} 
.jumbotron .get-started:hover,
.get-started:hover {
    background-color: #bb5959;
    transition: 0.3s;
}
.jumbotron .get-started:active,
.get-started:active {
    box-shadow: inset 1px 2px 5px 1px rgb(128, 36, 36);;
    transition: 0s;
}
.jumbotron p {
    margin: 25px 0;
    font-size: 14px;
    line-height: 1.4;
}

input.homepage-search {
    padding: 20px;
    margin-top: 9px;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    width: 360px;
    text-shadow: none;
    border: 1px solid #c2c2c2;
}

.intro-choice {
    margin-left: 20px;
    margin-right: 17px;
}

.info {
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
}

    .info h2 {
        font-size: 18px;
        line-height: 1.2em;
    }

    .info li {
        float: left;
        width: 28.865%;
        margin: 0 3.298%;
    }

    .info li:first-of-type { margin-left: 0; }
    .info li:last-of-type { margin-right: 0; }

/* Announcement */
.announcement {
    color: white;
    background-color: #317DC1;
    background-color: rgba(49,125,193,0.7);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
    .announcement strong { color: #ffd; }

    .announcement h3 {
        font-size: 18px;
        line-height: 1.2em;
        margin-top: 0;
        margin-bottom: 0;
        color: #ffd;
    }

    .announcement p {
        margin-top: 0;
        margin-bottom: 10px;
    }

.announcement-mobile {
    display: none;
    background: #317DC1;
    color: white;
    padding: 10px;
}

    .announcement-mobile h3 {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1em;
    }

    .announcement-mobile h3,
    .announcement-mobile strong { color: #ffd; }