.container .location, .modal-body .location {
    width: 50%;
    float: left;
}

#compare-modal {
    width: 90%;
    margin: 0 auto;
    top: 10%;
    left: 5%;
}

#text-info-modal {
    z-index: 9000;  /* .popover z-index is 2060, we want this in front of everything */
}

.container .location h2 {
    margin-top: 3em;
    margin-bottom: 1em;
}

.loc_directions {
    float: left;
    margin: 0.75em;
}

.loc_directions .dropdown-menu {
    margin-left: 107px;
    margin-top: -57px;
}

.loc_moreinfo, .loc_lessinfo {
    float:right;
    margin: 0.75em;
}

.location_item {
    width: 30em;
}

.loc_address {
    margin-bottom: 0.75em;
}

.loc_address {
    color: #999999;
}

.loc_phone_table {
    margin: 1em 0;
}

.loc_phone_table thead {
    font-weight: bold;
    text-transform: uppercase;
}

.loc_waitlist {
    border: 1px solid black;
    background-color: #eeeeee;
    padding: 1em;
    margin: 1em 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}

.loc_simplefield {
    margin-bottom: 0.75em;
}


.subnav {
    background-color: #005182;
    height: 55px;
    width: 100%;
}
.subnav-fixed {
    border-color: #999999;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 45px;
    z-index: 1020;
}
.subnav .container {
    width: 1170px;
    margin-top: 12px;
}
.subnav .nav > li {
    display: block;
    float: left;
    margin-top: 5px;
}
.subnav .nav > li > a {
    border-radius: 0 0 0 0;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
    line-height: 12px;
    padding-left: 12px;
    padding-right: 12px;
    color: #dddddd;
    float: left;
}
.subnav .nav > li > a:hover {
    color: #eeeeee;
    background-color: #555555;
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
}
.subnav .nav {
    margin-bottom: 0;
    display: block;
    left: 0;
    position: relative;
}
.subnav .nav.pull-right {
    margin-left: 10px;
    margin-right: 0;
    float: right;
}
.subnav .navbar-search input.search-query {
    padding: 4px 9px;
    margin: -2px;
    border-radius: 3px;
    border: 1px solid #2C4489;
    margin-top: -5px;
}
.subnav .navbar-search select.search-query {
    padding: 2px 9px;
    margin: 0 12px;
    width: 8em;
    height: 28px;
    border-radius: 3px;
}
.subnav .navbar-search .search-query:focus {
    background-color: #fff;
    color: #000;
    border: 1px solid #F4C121;
}
.subnav .navbar-search select.search-query option {
    border-style: none;
    border-radius: 0;
}

.subnav .container .navbar-search input {
  color: #000;
}

#map_container { 
    position: absolute;
    left: 0;
    right: 0;
    top: 7.8em;
    bottom: 0;
}
.hidden-phone.address-input {
    width: 450px;
    margin-right: 12px;
}
.visible-phone.address-input {
    width: 95%;
}
#map { height: 100%; }
#map img { max-width: none; }
#filter-selection {
    display: none;
}
.filter-label {
    display: inline;
}
.hidden-phone.directions { 
    position: absolute;
    right: 0;
    top: 7em;
    bottom: 0;
    width: 300px;
    overflow-y: scroll;
}
.visible-phone.directions {
    position: absolute;
    left: 0;
    right: 0;
    top: 6em;
    bottom: 0;
    background-color: #ffffff;
}
.d_step {
    margin: 1em auto;
}
.d_instr {
}
.d_dist {
    padding-left: 1em;
}
/* fake star ratings */
.loc_rating {
    float: right;
}
.star-notice {
    color: #999999;
}
