.container .location {
    width: 50%;
    float: left;
}

#compare-modal {
    width: 90%;
    margin: 0 auto;
    top: 10%;
    left: 5%;
}

#compare-modal .modal-body {
    max-height: 600px;
}

.container > table, #compare-modal .modal-body > table {
    width: 100%;
    padding: 0.5em;
}

.conainer > table > tbody > tr > td, #compare-modal .modal-body > table > tbody > tr > td {
    padding: 0 0.5em;
    width: 50%;
}

#text-info-modal {
    z-index: 9000;  /* .popover z-index is 2060, we want this in front of everything */
}

.container .location h2 {
    margin-top: 3em;
    margin-bottom: 1em;
}

.loc_directions {
    float: left;
    margin: 0.75em;
}

.loc_directions .dropdown-menu {
    margin-left: 107px;
    margin-top: -57px;
}

.loc_moreinfo, .loc_lessinfo {
    float:right;
    margin: 0.75em;
}

.location_item {
    width: 30em;
    font-size: 90%;
}

.loc_address {
    margin-bottom: 0.75em;
}

.loc_address {
    color: #999999;
}

.loc_phone_table {
    margin: 0.25em -0.5em;
}

.loc_phone_table thead {
    font-weight: bold;
}
.loc_phone_table td {
    padding: 0 0.5em;
}

.loc_waitlist {
    border: 1px solid black;
    background-color: #eeeeee;
    padding: 1em;
    margin: 1em 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}

.loc_simplefield {
    padding-bottom: 0.25em;
    vertical-align: top;
}


.subnav {
    background-color: #005182;
    height: 36px;
    width: 100%;
    font-size: 14px;
}
.subnav-fixed {
    border-color: #999999;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1020;
}
.subnav .container {
    width: 940px;
}
.subnav .nav > li {
    display: block;
    float: left;
}
.subnav .nav > li > a {
    border-radius: 0 0 0 0;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
    line-height: 14px;
    padding-left: 12px;
    padding-right: 12px;
    color: #dddddd;
    float: left;
    height: 14px;
}
.subnav .nav > li > a:hover {
    color: #eeeeee;
    background-color: #0B5C8D;
}
.subnav .nav > li > a > i {
    margin: 2px;
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
}
.subnav .nav {
    margin-bottom: 0;
    display: block;
    left: 0;
    position: relative;
}
.subnav .nav.pull-right {
    margin-left: 10px;
    margin-right: 0;
    float: right;
}
.subnav .navbar-search input.search-query {
    padding: 2px 9px;
    margin: 0;
    border-radius: 3px;
    font-size: 14px;
}
.subnav .navbar-search select.search-query {
    padding: 2px 9px;
    margin: 0 12px;
    width: 8em;
    height: 25px;
    border-radius: 3px;
    font-size: 14px;
}
.subnav .navbar-search .search-query:focus {
    background-color: #888888;
    color: #ffffff;
    text-shadow: 0 1px 0 #333333;
    border: 1px solid;
}
.subnav .navbar-search select.search-query option {
    border-style: none;
    border-radius: 0;
    font-size: 14px;
}
#map_container { 
    position: absolute;
    left: 0;
    right: 0;
    top: 6.7em;
    bottom: 0;
}
.hidden-phone.address-input {
    width: 450px;
    margin-right: 12px;
}
.visible-phone.address-input {
    width: 95%;
}
#map { height: 100%; }
#map img { max-width: none; }
#filter-selection {
    display: none;
}
.filter-label {
    display: inline;
}
.hidden-phone.directions { 
    position: absolute;
    right: 0;
    top: 7em;
    bottom: 0;
    width: 300px;
    overflow-y: scroll;
}
.visible-phone.directions {
    position: absolute;
    left: 0;
    right: 0;
    top: 6em;
    bottom: 0;
    background-color: #ffffff;
}
.d_step {
    margin: 1em auto;
}
.d_instr {
}
.d_dist {
    padding-left: 1em;
}
/* fake star ratings */
.loc_rating {
    float: right;
    margin-right: 1em;
}
.star-notice {
    color: #999999;
}

.textrow1 {
    background-color: #f6f6f6;
}
.textrow2 {
}
