/* Print ------------------- */

body {
    overflow: visible;
    font-size: 10px;
}

h1 {
    font-size: 12px;
}
h2 {
    font-size: 10px;
}

.navbar-inverse .navbar-inner {
    border: 0px;
}

.faves-top {
    margin-top: -80px;
}

#desktop-search,
#mobile-search,
.navbar-right,
.navbar-left,
.faves-right {
    display: none;
}

.favorite {
    padding: 20px 0;
    margin-left: 20px;
    width: 117r%;
    overflow: visible;
}
