# See http://docs.celeryproject.org/en/latest/tutorials/daemonizing.html
# Replace anything in @@s with appropriate values

# Name of nodes to start, here we have a single node
QUEUE_NAME='@QUEUE_NAME@'
CELERYD_NODES=$QUEUE_NAME
# or we could have three nodes:
#CELERYD_NODES="w1 w2 w3"

# Where to chdir at start.
CELERYD_CHDIR='@PROJECT_ROOT@'

# How to call "manage.py celeryd_multi"
CELERYD_MULTI="$CELERYD_CHDIR/manage.py celeryd_multi"

# How to call "manage.py celeryctl"
CELERYCTL="$CELERYD_CHDIR/manage.py celery"

# Extra arguments to celeryd
CELERYD_OPTS="-Q $QUEUE_NAME --soft-time-limit=30 --autoscale=2,1 -l warning"

# %n will be replaced with the nodename.
CELERYD_LOG_FILE="/var/log/celery/%n.log"
CELERYD_PID_FILE="/var/run/celery/%n.pid"

# Workers should run as an unprivileged user.
#CELERYD_USER="celery"
#CELERYD_GROUP="celery"

# Name of the projects settings module.
export DJANGO_SETTINGS_MODULE="settings"

