
DEBUG = {{ django_debug }}
TEMPLATE_DEBUG = DEBUG

ADMINS = (
  ('{{ admin_name }}', '{{ admin_email }}'),
)

STATIC_ROOT = '{{ static_path }}'
STATIC_URL = '/static/'

MEDIA_ROOT = '{{ media_path }}'
MEDIA_URL = '/media/'

SECRET_KEY = '{{ django_secret_key }}'


GOOGLE_MAPS_KEY = '{{ google_maps_key }}'

STATE = '{{ state }}'

TWILIO_ENABLED = {{ twilio_enabled }}
TWILIO_ACCOUNT_SID = '{{ account_sid }}'
TWILIO_AUTH_TOKEN = '{{ account_auth }}'
TWILIO_PHONE = '{{ phone }}'

TEMPLATE_DIRS = (
	      '{{ app_path }}/python/ecep/templates',
)