{% extends 'redesign/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "Blog" %}
{% endblock %}

{% block body %}
<div id="blog-header" class="container-fluid header">
  <div class="curve-header">
    <div class="header-image"></div>
  </div>
  <div class="header-title">
    <h1 class="text-center">Chicago Early</h1>
    <h1 class="text-center">Learning Blog</h1>
  </div>
</div>

<div id="blog-body" class="container container-bottom">
  <div class="">
    
  </div>
</div>

{% endblock %}

{% block template_headers %}
{% endblock %}
