{% extends 'redesign/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "Blog" %}
{% endblock %}

{% block body %}
<div id="blog-header" class="container-fluid header">
  <div class="curve-header">
    <div class="header-image"></div>
  </div>
  <div class="header-title">
    <h1 class="text-center">{% trans "Chicago Early" %}</h1>
    <h1 class="text-center">{% trans "Learning Blog" %}</h1>
  </div>
</div>

<div id="blog-content" class="container-fluid container-top-4 container-bottom">
  <div class="blog-post row">
    <div class="col-md-8 offset-md-2 py-5">
      <h1>{% trans "Thomas Hughes Children's Library Re-Opened" %}</h1>
      <h3 class="date">{% trans "July 31, 2017" %}</h3>
      <img class="img-fluid" src="{% static 'img/redesign/blog/hughes-library.jpg' %}">
      <p>{% blocktrans %}The newly re-opened Thomas Hughes Children’s Library, powered by Exelon, was dedicated by Mayor Emanuel on July 13th. The re-envisioned space boasts a maker space and distinct areas or “neighborhoods” for early learners: ages 0-5, middle-childhood learners: 6-10 and tweens: ages 11-14 with a full digital media lab. Additionally, there is a common area for learning through sharing, called the Plaza, programming rooms, a Quiet Suite with a family washroom, a mother’s room and a quiet sitting area, and areas for STEM programming, story hours and conferences.{% endblocktrans %}</p>
      <p>{% blocktrans %}With the space comes re-envisioned programming that embeds STEM/STEAM activities in with print collections, brings art and maker programs onto the floor of the library and invites everyone into our space to read, discover and create: which are also the three tracks of learning in our award-winning Rahm’s Readers Summer Learning Challenge. As a part of this funding, Exelon has also provided funds to re-imagine additional branches early learning spaces and provide curated collections of toys and early STEM for families across the city.{% endblocktrans %}</p>
    </div>
  </div>
</div>

{% endblock %}

{% block template_headers %}
{% endblock %}
