{% extends 'redesign/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "FAQ" %}
{% endblock %}

{% block body %}
<div id="faq">
  <div id="faq-header" class="container-fluid header">
    <div class="curve-header"></div>
    <div class="header-title">
      <h1 class="text-center">Frequently Asked Questions</h1>
    </div>
  </div>

  <div>
    
  </div>
</div>
{% endblock %}

{% block template_headers %}
{% endblock %}