{% extends 'redesign/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "How to Apply" %}
{% endblock %}

{% block body %}
<div id="apply">
  <div id="apply-header" class="container-fluid header">
    <div class="curve-header"></div>
    <div class="header-title">
      <h1 class="text-center">How To Apply</h1>
    </div>
  </div>

  <div id="apply-intro" class="container-fluid container-top-2 bg-white">
    <div class="row h-100">
      <div id="apply-video" class="col-md-6 offset-md-1 apply-block">
        <div class="embed-responsive embed-responsive-16by9 h-100">
          <iframe src="https://www.youtube.com/embed/J---aiyznGQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-4 apply-block my-auto">
        <h1 class="blue">Are YOU ready to apply for a preschool?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    
  </div>

  <div id="apply-enroll" class="container-fluid bg-gray">
    <div class="apply-block">
      <div id="enroll-title" class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h1 class="orange">{% trans 'The Early Learning Enrollment Process' %}</h1>
        </div>
      </div>
      <div id="enroll-intro" class="row apply-block-steps">
        <div class="col-md-2 offset-md-1 my-auto">
          <img src="">
        </div>
        <div class="col-md-8 my-auto">
          <h2 class="deep-green">{% trans 'Get Started! Search Locations' %}</h2>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.{% endblocktrans %}</p>
        </div>
      </div>
      <div id="enroll-one" class="row apply-block-steps">
        <div class="col-md-2 offset-md-1 my-auto">
          <img src="">
        </div>
        <div class="col-md-8 my-auto">
          <h2 class="deep-yellow">{% trans 'Apply to Program' %}</h2>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.{% endblocktrans %}</p>
        </div>
      </div>
      <div id="enroll-two" class="row apply-block-steps">
        <div class="col-md-2 offset-md-1 my-auto">
          <img src="">
        </div>
        <div class="col-md-8 my-auto">
          <h2 class="deep-blue">{% trans 'Verify Enrollment at CPS Location' %}</h2>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.{% endblocktrans %}</p>
          <div class="or-break">
            <h2>OR</h2>
            <span class="line"></span>
          </div>
          <h2 class="deep-blue">{% trans 'Verify Enrollment at Community Location' %}</h2>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.{% endblocktrans %}</p>
        </div>
      </div>
      <div id="enroll-three" class="row apply-block-steps">
        <div class="col-md-2 offset-md-1 my-auto">
          <img src="">
        </div>
        <div class="col-md-8 my-auto">
          <h2 class="deep-green">{% trans 'Enroll at CPS Location' %}</h2>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.{% endblocktrans %}</p>
          <div class="or-break">
            <h2>OR</h2>
            <span class="line"></span>
          </div>
          <h2 class="deep-green">{% trans 'Enroll at Community Location' %}</h2>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.{% endblocktrans %}</p>
        </div>
      </div>
      <div id="enroll-finish" class="row apply-block-steps">
        <div class="col-md-2 offset-md-1 my-auto">
          <img src="">
        </div>
        <div class="col-md-8 my-auto">
          <h2 class="deep-orange">{% trans 'Go to School' %}</h2>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.{% endblocktrans %}</p>
        </div>
      </div>
      <div id="enroll-links" class="row apply-block-steps">
        <div class="col-md-3 offset-md-3">
          <a class="btn btn-orange btn-block" href="">{% trans 'Search Locations' %}</a>
        </div>
        <div class="col-md-3">
          <a class="btn btn-orange btn-block" href="">{% trans 'Start an Application' %}</a>
        </div>
      </div>
    </div>
  </div>

  <div id="apply-verify" class="container-fluid bg-white">
    <div class="apply-block">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="orange">{% trans "How will you verify your child's placement?" %}</h1>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endblocktrans %}</p>
          <p><i>{% trans "Follow these three steps to verify your child's placement:" %}</i></p>
        </div>
      </div>
      <div class="row">
        <div id="verify-one" class="col-md-8 offset-md-2 border-box">
          <div class="mx-auto">
            <h2 class="blue">{% trans 'Step 1: Gather Documents' %}</h2>
            <p><i>{% trans "Follow these three steps to verify your child's placement:" %}</i></p>
            <div class="documents d-flex flex-row mx-auto">
              <div class="verify-bullets p-2">
                <h3>one</h3>
                <ul>
                  <li>one</li>
                  <li>two</li>
                  <li>three</li>
                </ul>
                <h3>two</h3>
                <ul>
                  <li>one</li>
                  <li>two</li>
                  <li>three</li>
                  <li>four</li>
                </ul>
              </div>
              <div class="verify-bullets p-2">
                <h3>three</h3>
                <ul>
                  <li>one</li>
                  <li>two</li>
                  <li>three</li>
                  <li>four</li>
                  <li>five</li>
                  <li>six</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="verify-two" class="col-md-8 offset-md-2 top-border-box">
          <div class="mx-auto">
            <h2 class="blue">{% trans 'Step 2: Bring and Verify Documents' %}</h2>
            <div class="documents-note">
              <div class="row">
                <div class="documents-image col-md-2">
                  <img src="">
                </div>
                <div class="documents-description col-md-10">
                  <p>{% blocktrans %}If your child has a seat in a Community-based program, bring your documents directly to the site which your child was assigned.{% endblocktrans %}</p>
                </div>
              </div>
            </div>
            <div class="documents-note">
              <div class="row">
                <div class="documents-image col-md-2">
                  <img src="">
                </div>
                <div class="documents-description col-md-10">
                  <p>{% blocktrans %}If your child has a seat in a CPS-based program, bring your documents to a Family Resource Center.{% endblocktrans %}</p>
                </div>
              </div>
            </div>
            <div class="documents-note">
              <a class="btn btn-orange" href="">{% trans 'View Family Resource Centers' %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="verify-three" class="col-md-8 offset-md-2 top-border-box">
          <div class="mx-auto">
            <h2 class="blue">{% trans 'Step 3: Bring your child on the first day of school in September.' %}</h2>
            <p>Let the learning begin!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 full-border-box mx-auto">
          <p>{% blocktrans %}Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="apply-links" class="container-fluid">
    <div class="row h-100">
      <div id="link-programs-block" class="col-md-6 d-flex">
        <div class="link-block text-center m-auto">
          <h1>{% trans 'Have you found the right program for your child?' %}</h1>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.{% endblocktrans %}</p>
          <a href="" class="btn btn-orange">{% trans 'Learn About Program Types' %}</a>
        </div>
      </div>
      <div id="link-support-block" class="col-md-6 d-flex">
        <div class="link-block text-center m-auto">
          <h1>{% trans 'Need application support?' %}</h1>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endblocktrans %}</p> 
          <p>{% blocktrans %}Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.{% endblocktrans %}</p>
          <a href="" class="btn btn-orange">{% trans 'Learn About Program Types' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block template_headers %}
{% endblock %}