{% extends 'redesign/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "Programs" %}
{% endblock %}

{% block body %}
<div id="programs-header" class="container-fluid header">
  <div class="curve-header"></div>
  <div class="header-title">
    <h1 class="text-center">About Early Learning Programs</h1>
  </div>
</div>


<!--  Programs Intro  -->
<div id="programs-intro" class="container-fluid container-top-2 bg-gray">
  <div class="row">
    <div class="col-md-4 offset-md-2">
      
    </div>
    <div class="col-md-4">
      <h1 class="blue">Look what WE can do!</h1>
      <p>{% blocktrans %}Through Chicago Early Learning, all of our families—no matter their needs—will be able to find and secure a quality early learning program.{% endblocktrans %}</p>
      <p>“Every child in every neighborhood deserves a quality education and that must begin in their earliest years.” - Chicago Mayor Rahm Emanuel</p>
    </div>
  </div>
</div>


<!--  Programs Age Calculator  -->
<div id="programs-age-calculator" class="container-fluid bg-white">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h2>{% blocktrans %}What early learning program should your child(ren) be enrolling in?{% endblocktrans %}</h2>
      <p>{% blocktrans %}Enter a birthdate. The result will reflect what you should enroll in Fall 2017.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="birthday-form">
      <form>
        <div class="form-group">
          <input type="text" name="">
        </div>
      </form>
    </div>
  </div>
</div>


<!--  Programs Infants  -->
<div id="programs-infants" class="container-fluid">
  <div class="row">
    <div id="programs-infants-image" class="col-md-6 programs-block hidden-md-down">
      <div class="programs-image-block"></div>
    </div>
    <div id="programs-infants-info" class="col-md-6 programs-block">
      <div class="programs-info-block"></div>
    </div>
  </div>
</div>


<!--  Programs Preschool  -->
<div id="programs-preschool" class="container-fluid">
  <div class="row">
    <div id="programs-preschool-info" class="col-md-6 programs-block">
      <div class="programs-info-block"></div>
    </div>
    <div id="programs-preschool-image" class="col-md-6 programs-block hidden-md-down">
      <div class="programs-image-block"></div>
    </div>
  </div>
</div>


<!--  Programs Kindergarten  -->
<div id="programs-kindergarten" class="container-fluid">
  <div class="row">
    
  </div>
</div>

<!--  Programs Types  -->
<div id="programs-types" class="container-fluid">
  <div class="row">
    
  </div>
</div>


<!--  Programs Graphic  -->
<div id="programs-graphic" class="container-fluid">
  <div class="row">
    
  </div>
</div>


<!--  Programs Resources  -->
<div id="programs-resources" class="container-fluid">
  <div class="row">
    
  </div>
</div>


<!--  Programs Testimonial  -->
<div id="programs-testimonial" class="container-fluid">
  <div class="row">
    
  </div>
</div>
{% endblock %}

{% block template_headers %}
{% endblock %}