{% extends 'redesign/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "Programs" %}
{% endblock %}

{% block body %}
<div id="programs">
  <div id="programs-header" class="container-fluid header">
    <div class="curve-header">
      <div class="header-image"></div>
    </div>
    <div class="header-title">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="text-center">{% trans 'Programs' %}</h1>
        </div>
      </div>
    </div>
  </div>


  <!--  Programs Intro  -->
  <div id="programs-intro" class="container-fluid container-top-4 bg-gray programs-base">
    <div class="row justify-content-center p-5">
      <div class="col-md-4 offset-md-1">
        <div class="svg-fluid-w">{% svg 'illustrations/science' %}</div>
      </div>
      <div class="col-md-5">
        <h1 class="blue">{% blocktrans %}Look what <span class="d-inline"><span class="chalk blue b-blue">WE</span></span> can do!{% endblocktrans %}</h1>
        <p>{% blocktrans %}Through Chicago Early Learning, all of our families—no matter their needs—will be able to find and secure a quality early learning program.{% endblocktrans %}</p>
        <div class="rahm-quote">
          <h3 class="deep-green">{% blocktrans %}“Every child in every neighborhood deserves a quality education and that must begin in their earliest years.”{% endblocktrans %}</h3> 
        </div>
        <p class="rahm gray">– CHICAGO MAYOR RAHM EMANUEL</p>
      </div>
    </div>
  </div>


  <!--  Programs Age Calculator  -->
  <div id="programs-age-calculator" class="container-fluid bg-white programs-base">
    <div class="py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2>{% blocktrans %}What early learning program should your child be enrolling in?{% endblocktrans %}</h2>
          <p class="gray">{% blocktrans %}Enter a birthdate. The result will reflect what you should enroll in Fall 2017.{% endblocktrans %}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="birthday-form col-md-8 text-center">
          <form id="calculator">
            <div class="form-group form-inline row justify-content-center">
              <input id="month" type="text" class="form-control col-sm-2" name="month" placeholder="MM">
              <input id="day" type="text" class="form-control col-sm-2" name="day" placeholder="DD">
              <input id="year" type="text" class="form-control col-sm-2" name="year" placeholder="YYYY">
            </div>
            <button id="calculator-submit" type="submit" class="btn btn-blue btn-half">{% trans 'Find Program Type' %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!--  Programs Infants  -->
  <div id="programs-infants" class="container-fluid ">
    <div class="row h-100">
      <div id="programs-infants-image" class="col-md-6 programs-block hidden-sm-down">
        <div class="programs-image-block"></div>
      </div>
      <div id="programs-infants-info" class="col-md-6 programs-block d-flex">
        <div class="programs-info-block">
          <h1>{% trans 'Infants and Toddlers'%}</h1>
          <h4>{% trans 'Ages Birth to 2' %}</h4>
          <p>{% blocktrans %}These programs may also be referred to as Early Head Start, Prevention Initiative, or Early Intervention.{% endblocktrans %}</p>
          <h3 class="yellow">{% trans 'Who do they serve?' %}</h3>
          <p>{% blocktrans %}Children aged birth to three years old from qualifying families{% endblocktrans %}</p>
          <h3 class="yellow">{% trans 'What do they provide?' %}</h3>
          <ul>
            <li>{% blocktrans %}Educational and social development activities.{% endblocktrans %}</li>
            <li>{% blocktrans %}Programs may include free health services (medical, dental, mental health), nutritious meals, as well as parent education and training.{% endblocktrans %}</li>
          </ul>
          <a class="btn btn-yellow btn-half" href="{% url 'browse' %}">{% trans 'Find Sites'%}</a>
        </div>
      </div>
    </div>
  </div>


  <!--  Programs Preschool  -->
  <div id="programs-preschool" class="container-fluid">
    <div class="row h-100">
      <div id="programs-preschool-info" class="col-md-6 programs-block d-flex">
        <div class="programs-info-block">
          <h1>{% trans 'Preschool'%}</h1>
          <h4>{% trans 'Ages 3 and 4' %}</h4>
          <p>{% blocktrans %}Preschool programs may be referred to as Head Start or Preschool for All.{% endblocktrans %}</p>
          <h3 class="yellow">{% trans 'Who do they serve?' %}</h3>
          <p>{% blocktrans %}3- and 4-year-old children from qualifying families.{% endblocktrans %}</p>
          <h3 class="yellow">{% trans 'What do they provide?' %}</h3>
          <ul>
            <li>{% blocktrans %}Educational and social development activities that promote school readiness.{% endblocktrans %}</li>
            <li>{% blocktrans %}Either a half-day or a full-day of instruction.{% endblocktrans %}</li>
            <li>{% blocktrans %}Programs may include free health services (medical, dental, mental health), nutritious meals, as well as parent education and training.{% endblocktrans %}</li>
          </ul>
          <a class="btn btn-green btn-half" href="{% url 'browse' %}">{% trans 'Find Sites'%}</a>
        </div>
      </div>
      <div id="programs-preschool-image" class="col-md-6 programs-block hidden-sm-down">
        <div class="programs-image-block"></div>
      </div>
    </div>
  </div>


  <!--  Programs Kindergarten  -->
  <div id="programs-kindergarten" class="container-fluid">
    <div class="row h-100">
      <div id="programs-kindergarten-info" class="col-md-10 offset-md-1 programs-block d-flex">
        <div class="programs-info-block text-center">
          <h1>{% trans 'Kindergarten' %}</h1>
          <h4>{% trans 'Age 5' %}</h4>
          <p>{% blocktrans %}Children who are 5 years old by September 1st of the current school year should enroll in kindergarten at a CPS preschool. Visit the CPS website to enroll a child in kindergarten.{% endblocktrans %}</p>
          <a class="btn btn-orange btn-half" href="http://www.cps.edu">{% trans 'Learn More' %}</a>
        </div>
      </div>
    </div>
  </div>

  <!--  Programs Types  -->
  <div id="programs-types" class="container-fluid bg-gray programs-base">
    <div id="type-descriptions">
      <div class="row text-center">
        <div class="col-md-8 offset-md-2 justify-content-md-center">
          <h1 class="orange text-center">{% trans 'Types of Programs' %}</h1>
          <p>{% blocktrans %}The early education programs at the City of Chicago are available in a number of settings:{% endblocktrans %}</p>
        </div>
        <div id="program-types-cps" class="col-md-4 offset-md-2 program-type">
          <div class="svg-fluid-w">{% svg 'illustrations/large-pencil' %}</div>
          <h1 class="blue">{% trans 'Chicago Public Schools (CPS) Programs' %}</h1>
          <h2 class="dark-gray">{% trans 'Age Group: 3 and 4' %}</h2>
          <p>{% blocktrans %}Many CPS elementary schools offer early learning programs as a part of their services.{% endblocktrans %}</p>
        </div>
        <div id="program-types-community" class="col-md-4 program-type">
          <div class="svg-fluid-w">{% svg 'illustrations/book' %}</div>
          <h1 class="green">{% trans 'Community Based Programs' %}</h1>
          <h2 class="dark-gray">{% trans 'Age Group: Birth to 4' %}</h2>
          <p>{% blocktrans %}Neighborhood locations provide early childhood education and infant and toddler care. Hours vary by site.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 full-border-box mx-auto">
        <p>{% blocktrans %}Home Visiting Care is also available for qualifying families, for children between the ages of birth to 3. Visiting coaches provide early care and consulting in the family’s home to qualifying families.{% endblocktrans %}</p>
      </div>
    </div>
    <div id="choose-break" class="row">
      <div class="col-md-8 offset-md-2 justify-content-md-center">
        <h1 class="orange text-center">{% trans 'Choosing the Right Program' %}</h1>
        <p>{% blocktrans %}Quality ratings for Chicago Early Learning programs, and programs across Illinois and the country, offer families more insight before they make final choices about a program for their child.{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 top-border-box mx-auto">
        <div class="border-box-image mx-auto">{% svg 'illustrations/ribbon' %}</div>
        <h3 class="blue">{% trans 'What does “Quality Rating” (QRIS) mean?' %}</h3>
        <p>{% blocktrans %}Quality Ratings are assessments of early learning programs used by Excelerate Illinois to help families understand program quality and help providers prioritize improvements. Excelerate Illinois, the state’s rating and improvement system, sets a research-based standard for early learning and development providers, reflected in its tiered Circles of Quality. The higher the tier, the more the program has made meaningful improvements that better the child for school and life. Reviewing a potential preschool program’s rating in Excelerate’s Circles of Quality can help Illinois families make a more informed decision for their child. More information can be found at <a class="a-orange" href="http://excelerateillinois.com">ExcelerateIllinois.com</a>.{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 top-border-box mx-auto">
        <div class="border-box-image mx-auto">{% svg 'illustrations/star' %}</div>
        <h3 class="blue">{% trans 'What does "Accreditation" mean?' %}</h3>
        <p>{% blocktrans %}Accreditation is another way of measuring and understanding early learning program quality; accredited status means that a program has met high standards of excellence determined by a national organization such as the National Association for the Education of Young Children (NAEYC), National Early Childhood Program Accreditation (NEPCA), or the Council on Accreditation (COA). These quality standards measure areas such as teaching, curriculum, learning assessments, health, community relationships, physical environment, and management.{% endblocktrans %}</p>
        <p>{% blocktrans %}To learn more about accreditation of early learning programs and how such standards can help guide families searching for early learning programs, click on one of the following links:{% endblocktrans %}</p>
        <p><a class="a-orange" href="http://www.naeyc.org"><i>National Association for the Education of Young Children</i></a></p>
        <p><a class="a-orange" href="http://necpa.net/?"><i>National Early Childhood Program Accreditation</i></a></p>
        <p><a class="a-orange" href="http://coanet.org/home/"><i>Council on Accreditation</i></a></p>
      </div>
    </div>
  </div>


  <!--  Programs Graphic  -->
  <div id="programs-graphic" class="container-fluid hidden-sm-down">
    <div class="p-5 graphic-block text-center">
      <h1 class="orange">{% trans 'What Makes a Great Program?' %}</h1>
      <h3>{% blocktrans %}Visit your top choice early learning programs in person, if you can.{% endblocktrans %}</h3>
      <h3>{% blocktrans %}You will know it’s a strong program when you see the following:{% endblocktrans %}</h3>
    </div>
    <div class="p-5 svg-fluid-w">{% svg 'illustrations/apple-venn' %}</div>
  </div>

  <div id="programs-graphic-mobile" class="container-fluid hidden-md-up text-center bg-white py-5 justify-content-center">
    <div class="row p-3">
      <h1 class="orange">{% trans 'What Makes a Great Program?' %}</h1>
      <p>{% blocktrans %}Visit your top choice early learning programs in person, if you can. You will know it’s a strong program when you see the following:{% endblocktrans %}</p>
    </div>
    <div class="row p-3">
      <div class="graphic-svg svg-fluid-w">{% svg 'illustrations/blocks' %}</div>
      <h2 class="deep-yellow mx-auto p-3">{% trans 'Kid-Friendly Spaces' %}</h2>
      <p>{% blocktrans %}A safe, child-friendly space for 20 preschoolers at most, with toys and materials indoors and outdoors{% endblocktrans %}</p>
    </div>
    <div class="row p-3">
      <div class="graphic-svg svg-fluid-w">{% svg 'illustrations/teacher' %}</div>
      <h2 class="deep-yellow mx-auto p-3">{% trans 'Top-Notch Teachers' %}</h2>
      <p>{% blocktrans %}Attentive, engaged teachers with 4-year degrees and training, 1:10 teacher-child ratios for Pre-K{% endblocktrans %}</p>
    </div>
    <div class="row p-3">
      <div class="graphic-svg svg-fluid-w">{% svg 'illustrations/student' %}</div>
      <h2 class="deep-yellow mx-auto p-3">{% trans 'Engaged Students' %}</h2>
      <p>{% blocktrans %}Variety in 1-1, small and full group age appropriate activities, with meals and naptime offered{% endblocktrans %}</p>
    </div>
    <div class="row p-3">
      <div class="graphic-svg svg-fluid-w">{% svg 'illustrations/more' %}</div>
      <h2 class="deep-yellow mx-auto p-3">{% trans 'And So Much More...' %}</h2>
      <p>{% blocktrans %}Visitors welcomed with required safety measures, frequent handwashing by children and adults{% endblocktrans %}</p>
    </div>
  </div>


  <!--  Programs Resources  -->
  <div id="programs-resources" class="container-fluid container-bottom">
    <div class="row h-100">
      <div id="programs-resources-info" class="col-md-10 offset-md-1 d-flex flex-column justify-content-center">
        <div class="text-center">
          <h1 class="white">{% trans 'Other Local Activities and Resources' %}</h1>
          <p class="white">{% blocktrans %}See our Resources page to learn more about programs for young children throughout the city that are not part of Chicago Early Learning.{% endblocktrans %}</p>
          <a class="btn btn-orange btn-half" href="{% url 'blog-hughes' %}">{% trans 'Learn More' %}</a>
        </div>
      </div>
    </div>
  </div>


  <!--  Programs Testimonial  -->
  <div id="programs-testimonial" class="container-fluid hidden-xs-up">
    <div class="row">
      
    </div>
  </div>
</div>
{% endblock %}

{% block template_headers %}
<script type="text/javascript">
  require(['jquery', 'calculator'], function() {});
</script>
{% endblock %}