{% extends 'redesign/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "Programs" %}
{% endblock %}

{% block body %}
<div id="programs-header" class="container-fluid header">
  <div class="curve-header"></div>
  <div class="header-title">
    <h1 class="text-center">About Early Learning Programs</h1>
  </div>
</div>


<!--  Programs Intro  -->
<div id="programs-intro" class="container-fluid">
  
</div>


<!--  Programs Age Calculator  -->
<div id="programs-age-calculator" class="container-fluid">
  
</div>


<!--  Programs Infants  -->
<div id="programs-infants" class="container-fluid">
  
</div>


<!--  Programs Preschool  -->
<div id="programs-preschool" class="container-fluid">
  
</div>


<!--  Programs Kindergarten  -->
<div id="programs-kindergarten" class="container-fluid">
  
</div>

<!--  Programs Types  -->
<div id="programs-types" class="container-fluid">
  
</div>


<!--  Programs Graphic  -->
<div id="programs-graphic" class="container-fluid">
  
</div>


<!--  Programs Resources  -->
<div id="programs-resources" class="container-fluid">
  
</div>


<!--  Programs Testimonial  -->
<div id="programs-testimonial" class="container-fluid">
  
</div>
{% endblock %}

{% block template_headers %}
{% endblock %}