{% extends 'redesign/sub-base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Chicago Early Learning" %} - {% trans "Search" %}
{% endblock %}

{% block base %}
<div id="search" class="container-fluid fluid-full">
  <div class="search-view h-100">
    
    <div class="row no-gutters h-100">
      <div id="search-results" class="col-md-4 h-100 d-flex flex-column bg-lightest-gray">

        <div id="search-form" class="sticky-top">
          <form class="">
            <div class="form-group d-flex">
              <div class="search-svg">
                <a class="inline-link-svg svg-gray">{% svg 'icons/search' %}</a>
              </div>
              <div class="search-form">
                <input id="search-input" class="form-control map-search-form autocomplete-searchbox" type="text" name="">
              </div>
              <div class="filters-toggle search-svg">
                <a class="filters-svg inline-link-svg svg-gray">{% svg 'icons/scale' %}</a>
              </div>
            </div>
          </form>
          <div id="compare">
            <div class="p-3">
              <form action="{% url 'favorites' %}">
                <input type="hidden" name="lat" value="{{ request.GET.lat }}">
                <input type="hidden" name="lng" value="{{ request.GET.lng }}">
                <button type="submit" href="" class="btn btn-blue btn-block">
                  {% trans 'Compare' %} <span id="compare-count"></span> <span id="compare-site">{% trans 'Site' %}</span><span id="compare-sites">{% trans 'Sites' %}</span>
                </button>
              </form>
            </div>
          </div>
          <div id="filters" class="search-filters">
            <div class="d-flex m-3">
              <div class="filter-header mr-auto align-middle d-inline-flex align-items-center">
                <h2 class="">{% trans 'Refine Your Search' %}</h2>
              </div>
              <div class="filter-clear">
                <a class="btn btn-clear filters-toggle">{% trans 'Close' %}</a>
              </div>
            </div>
            <div id="hours" class="filter-category mx-3 my-2">
              <div class="category-header py-3">
                <div class="header-svg svg-white">
                  {% svg 'icons/clock' %}
                </div>
                <div class="header-text">
                  <p>{% trans 'Hours' %}</p>
                </div>
              </div>
              <div class="category-filters d-flex flex-wrap">
                <div class="filter-input-hidden" style="display: none">
                  <input type="checkbox" id="infants">
                  <input type="checkbox" id="preschool">
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="full_day" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Full Day' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="part_day" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Part Day' %}</span>
                  </label>
                </div>
              </div>
            </div>
            <div id="duration" class="filter-category m-2 mx-3">
              <div class="category-header py-3">
                <div class="header-svg svg-white">
                  {% svg 'icons/calendar' %}
                </div>
                <div class="header-text">
                  <p>{% trans 'Duration' %}</p>
                </div>
              </div>
              <div class="category-filters d-flex flex-wrap">
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="full_week" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Full Week' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="part_week" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Part Week' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="full_year" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Full Year' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="school_year" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'School Year' %}</span>
                  </label>
                </div>
              </div>
            </div>
            <div id="program" class="filter-category m-2 mx-3">
              <div class="category-header py-3">
                <div class="header-svg svg-white">
                  {% svg 'icons/pencil' %}
                </div>
                <div class="header-text">
                  <p>{% trans 'Program Features' %}</p>
                </div>
              </div>
              <div class="category-filters d-flex flex-wrap">
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="cps" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'CPS' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="community" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Community' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="home_visiting" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Home Visiting' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="ccap" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Accepts CCAP' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="ccap" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Head Start' %}</span>
                  </label>
                </div>
                <div class="filter-input">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" id="ccap" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans 'Early Head Start' %}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="results" class="bg-lightest-gray">
          <div class="results-loading p-3" style="display: none;">
            <h1>Loading...</h1>
          </div>
          <div class="results-calculator p-4" style="display: none;">
            <div class="results-calculator-header text-center">
              <h2 class="blue">{% blocktrans %}Enter your child's birthdate to find the right program.{% endblocktrans %}</h2>
            </div>
            <div class="results-calculator-form">
              <form class="calculator">
                <div class="form-group form-inline row justify-content-center p-3">
                  <input id="month" type="text" maxlength="2" class="form-control col-3 input-two" name="month" placeholder="MM" required>
                  <input id="day" type="text" maxlength="2" class="form-control col-3 input-two" name="day" placeholder="DD" required>
                  <input id="year" type="text" maxlength="2" class="form-control col-3" name="year" placeholder="YY" required>
                </div>
                <!-- 
                <div class="add-calculator p-3 text-center">
                  <a class="a-orange">+ {% trans 'Add Another Child' %}</a>
                </div>
                -->
                <button id="calculator-submit" type="submit" class="btn btn-orange btn-block">{% trans 'Find Programs' %}</button>
              </form>
              <div class="p-5 text-center">
                <a id="skip-calculator" class="a-blue" href=""><i>{% trans 'Skip Age Calculator' %}</i></a>
              </div>
            </div>
          </div>
          <div class="results-scroll p-3">
            <div class="results-description">
              <div class="results-actions close-buttons d-flex flex-wrap w-100">
                <div class="result-button">
                  <a class="btn btn-block btn-clear-orange filters-toggle">{% trans 'Refine Search' %}</a>
                </div>
                <div class="result-button">
                  <a id="filters-clear" class="btn btn-block btn-clear-gray">{% trans 'Reset Filters' %}</a>
                </div>
              </div>
              <div id="results-message" class="results-message pt-3"></div>
            </div>
            <div class="results-list pt-3"></div>
            <div class="results-load-more">
              <div class="">
                <a id="locations-more" class="btn btn-blue btn-block">{% trans 'See More Locations' %}</a>
              </div>
            </div>
          </div>
          <div class="results-default" style="display: none;">
            <div class="mx-5">
              <div class="results-default-graphic m-5 b-blue">
                <div class="svg-fluid-w">{% svg 'illustrations/location' %}</div>
              </div>
              <div class="results-default-message text-center">
                <h2 class="blue">{% blocktrans %}Please enter your address in the search bar above to begin.{% endblocktrans %}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="search-map" class="col-md-8 hidden-sm-down h-100">
        <div id="map"
        {% if request.GET.type %} data-type="{{ request.GET.type }}"{% endif %}
        {% if request.GET.address %} data-address="{{ request.GET.address }}"{% endif %}
        {% if request.GET.lat %} data-latitude="{{ request.GET.lat }}"{% endif %}
        {% if request.GET.lng %} data-longitude="{{ request.GET.lng }}"{% endif %}
        {% if request.GET.age %} data-age="{{ request.GET.age }}"{% endif %}
        {% if request.GET.zoom %} data-zoom="{{ request.GET.zoom }}"{% endif %}
        {% if request.GET.neighborhood %} data-neighborhood-id="{{ request.GET.neighborhood }}"{% endif %}
        {% if request.GET.location %} data-location-id="{{ request.GET.location }}"{% endif %}
        {% if request.LANGUAGE_CODE %} data-language="{{ request.LANGUAGE_CODE }}"{% endif %}
        ></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block template_headers %}
<script type="text/javascript">
  require(['jquery', 'pages/search'], function($, search) {
    $(document).ready(search.init);
  });
</script>
{% endblock %}
