{% extends "iframe/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load portal_extras %}
{% load svg %}

{% block title %}{% trans "Compare and Apply" %} - {% trans "Chicago Early Learning" %}{% endblock %}

{% block otherhead %}
{% endblock %}

{% block base %}

<div class="container-fluid compare-container">
    <div class="row">
        <div class="contact-text col-md-8 offset-md-2">
            <h1 class="py-3">{% trans "Compare and Apply" %}</h1>

            {% if LANGUAGE_CODE == 'en' %}
                <p>Compare early learning programs side-by-side to select the highest quality option for your child. </p>

                <p><strong>Select your two favorite choices and press the “Apply” button to build your Chicago Early Learning parent profile and complete an application.</strong></p>

                <p>If you are looking to enroll in a program immediately or have a child that will not yet be 3 years old in the Fall, please contact the early childhood program directly.</p>
            {% elif LANGUAGE_CODE == 'es' %}
                <p>Compare programas de aprendizaje temprano punto por punto para escoger la mejor opción para su hijo.</p>

                <p><strong>Seleccione dos lugares favoritos y presione el botón "Aplicar" para construir su perfil familiar en Chicago Early Learning y así completar su solicitud.</strong></p>

                <p>Si está buscando inscribir a su hijo en un programa inmediatamente o tiene un hijo que no va a cumplir 3 años en el otoño, por favor contacte directamente al programa.</p>
            {% endif %}

        </div>
    </div>

    <div class="row py-3">
        <div class="col-md-8 offset-md-2">
            <div id="location-map"
              {% if request.GET.lat and request.GET.lng %}
              data-address-latitude="{{ request.GET.lat }}"
              data-address-longitude="{{ request.GET.lng }}"
              {% endif %}
              class="location-map"></div>
        </div>
    </div>

    <!-- Favorite list -->
    <div class="row">
        <div class="col-md-12 hidden-lg-up">
            <div class="scroll-message d-flex justify-content-between">
                <div class="svg-gray svg-fluid-h">{% svg 'icons/arrow-thin-left' %}</div>
                <div class="scroll-note">
                    <h1 class="gray">{% trans 'Scroll to View Location Details' %}</h1>
                </div>
                <div class="svg-gray svg-fluid-h">{% svg 'icons/arrow-thin-right' %}</div>
            </div>
        </div>
        <div class="faves-table col-md-12 py-1" id="copa">
            <table class="table table-inverse table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'Apply' %}</th>
                        <th>{% trans 'Site Info' %}</th>
                        <th>{% trans 'Ages' %}</th>
                        <th>{% trans 'Seats' %}</th>
                        <th>{% trans 'Duration' %}</th>
                        <th>{% trans 'Program Info' %}</th>
                        <th>{% trans 'Accreditation' %}</th>
                    </tr>
                </thead>
                <tbody class="empty-faves">
                    <tr>
                        <td class="text-center" colspan="8">{% trans 'No Saved Locations' %}</td>
                    </tr>
                </tbody>
                <tbody class="table-body" id="copa-table">

                </tbody>
            </table>
        </div>
    </div>

    <div class="favorite-apply py-5">
        <div class="row py-1" id="starred-actions">
            <div class="col-md-6 offset-md-3">
                <a href="" class="btn btn-block btn-orange btn-lg" target="_blank" id="faves-contact">{% trans 'Apply' %}</a>
            </div>
        </div>
        <div class="row py-1" id="">
            <div class="col-md-6 offset-md-3">
                <a href="" class="btn btn-block btn-lg btn-gray" id="faves-clear">{% trans 'Clear All Selected Sites' %}</a>
            </div>
        </div>
    </div>

    <div class="row py-3" id="non-copa">
        <div class="col-md-8 offset-md-2 text-center py-3">
            <h4 id="non-ecm-header">{% trans 'The following sites do not have online enrollment. Contact these sites directly to apply.' %}</h4>
        </div>
        <div class="col-md-12 hidden-lg-up">
            <div class="scroll-message d-flex justify-content-between">
                <div class="svg-gray svg-fluid-h">{% svg 'icons/arrow-thin-left' %}</div>
                <div class="scroll-note">
                    <h1 class="gray">{% trans 'Scroll to View Location Details' %}</h1>
                </div>
                <div class="svg-gray svg-fluid-h">{% svg 'icons/arrow-thin-right' %}</div>
            </div>
        </div>
        <div class="faves-table col-md-12 py-1">
            <table class="table table-inverse table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'Apply' %}</th>
                        <th>{% trans 'Site Info' %}</th>
                        <th>{% trans 'Ages' %}</th>
                        <th>{% trans 'Seats' %}</th>
                        <th>{% trans 'Duration' %}</th>
                        <th>{% trans 'Program Info' %}</th>
                        <th>{% trans 'Accreditation' %}</th>
                    </tr>
                </thead>
                <tbody class="table-body" id="non-copa-table">

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
require(['pages/starred'], function() { });
</script>
{% endblock %}

{% block footer %}
<!-- No footer on Starred page -->
{% endblock %}
