{% load i18n %}
<div class="submit-row">
{% if is_edit_admin %}
<input type="submit" value="{% trans 'Accept Changes' %}" class="default" name="_save" />
<button><a href="{% url admin:reject_updates object_id %}">{% trans 'Reject All Pending Changes' %}</a></button>
{% else %}
<input type="submit" value="{% trans 'Submit Changes for Review' %}" class="default" name="_proposechanges" />
{% endif %}
{% if show_delete_link %}<p class="deletelink-box"><a href="{% url admin:portal_location_delete object_id %}" class="deletelink">{% trans "Delete" %}{% endif %}</a></p>
</div>
