{% extends 'redesign/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load svg %}

{% block title %}
{% trans "Family Resource Centers" %} - {% trans "Chicago Early Learning Portal" %}
{% endblock %}

{% block body %}
<div id="centers-intro" class="container">
  <div class="p-5 info-row row">
    <div class="col-md-6">
      <div class="svg-fluid-w p-5">{% svg 'illustrations/application' %}</div>
    </div>
    <div id="update-content" class="col-md-6">
      <div class="">
        <div class="">
          <h1 class="orange">{% trans 'Family Resource Centers' %}</h1>
          <p>{% blocktrans %}Family Resource Centers are a place for all Chicago families seeking more information or in-person support on preschool enrollment. Our friendly staff will help you answer questions about your child’s application.{% endblocktrans %}</p> 
          <p class="blue">{% blocktrans %} For families with a preschool placement at a Chicago Public Schools site, staff at Family Resource Centers will also verify income, employment, and birth record documentation. (Families with a preschool placement at a community-based site will verify their documentation directly at the site location.){% endblocktrans %}</p>
          <p>{% blocktrans %}At least one Family Resource Center is available year-round for families verifying their documentation. For the 2017 - 2018 school year, Colman, 4655 S. Dearborn St., is open from 9AM - 5PM, Monday - Friday.{% endblocktrans %}</p>
          <p>{% blocktrans %}In the summer months, about a dozen Chicago Public Libraries across the city serve as Family Resource Centers. All summer visitors will have access to internet and computers. If a family would like to use a library computer, the user must have a library card. Anyone with a valid ID with name, photo and Chicago address can sign up for a library card on site.{% endblocktrans %}</p>
          <p><em><i>{% trans 'Applications will be taken 30 minutes after opening and will end 30 minutes before closing.' %}</i></em></p>
          <p><span class="inline-link-svg svg-orange mr-1">{% svg 'icons/message' %}</span> {% trans 'Bilingual support available' %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="centers-list" class="container">
  <div class="center-list row">

    <!--  Colman  --> 
    <div class="center-block col-md-6">
      <div id="colman-map" data-address-latitude="41.8101095" data-address-longitude="-87.6291247" class="center-map"></div>
      <div class="center-name">
        <h1 class="blue">Colman</h1>
      </div>
      <div class="center-address">
        <p>4655 S. Dearborn St</p>
        <p>Chicago IL 60609</p>
      </div>
      <div class="center-phone">
        <a class="a-orange" href="tel:7735532010">(773) 553-2010</a>
      </div>
      <div class="center-hours">
        <p>{% trans 'M-F' %}: 9AM-5PM</p>
      </div>
      <div class="center-directions">
        <a class="btn btn-gray btn-block" href="https://www.google.com/maps/place/4655+S+Dearborn+St,+Chicago,+IL+60609/@41.8101095,-87.6291247,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2eaf3bbc767d:0x168afc59fd14a72!8m2!3d41.8101095!4d-87.626936?hl=en&authuser=0">{% trans 'Get Directions' %}</a>
      </div>
    </div>

  </div>
</div>
<div id="centers-info" class="container container-bottom">
  <div class="info-row row">
    <div class="col-md-4 offset-md-2 p-5">
      <div class="svg-fluid-w">{% svg 'illustrations/flags' %}</div>
    </div>
    <div id="update-content" class="col-md-6 p-5">
      <div class="">
        <div class="">
          <h2 class="orange">{% trans 'What is the application process?' %}</h2>
          <p>{% blocktrans %}Are you ready to apply for a preschool program for your 3- or 4-year-old? Learn about the process here or call (312) 229-1690 with your questions.{% endblocktrans %}</p>
          <a href="{% url 'how-to-apply' %}" class="btn btn-cel btn-yellow btn-lg btn-half">{% trans 'Learn More' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block template_headers %}
<script type="text/javascript">
  require(['pages/resource-centers'], function() {});
</script>
{% endblock %}
